<div id="account">	
	<div id="forgotPassword">
		<h3>Forgot Password</h3>
		<p>Enter your email address to retrieve your password.</p>	
		
		<div class="error" th:switch="${errorCode}" th:if="${errorCode}"> 
  			<p th:case="'invalidCustomer'">No matching email found.</p>
            <p th:case="'inactiveCustomer'">The email you entered is marked as inactive.   Please contact an administrator to activate your account.</p>
            <p th:case="*">Unknown error.</p> 
        </div>
					
		<form id="forgotPasswordForm" th:action="@{/login/forgotPassword}" method="post">
			<div class="form50">
				<label for="emailAddress">Email</label>
				<input type="text" name="emailAddress" class="field50" />
			</div>
			<div class="login_register"><input class="submitFormButton reset_password_button" type="submit" value="Reset Password"/></div>
		    <div class="form50">
                <a class="account" th:href="@{/login}">Login</a> 
			</div>
			<div class="form50">
				<a class="account" th:href="@{/register}">Register</a>
			</div>
		</form>
	</div>
</div>