<div class="listgrid-toolbar">
    <ul class="inline-list" th:if="*{subCollectionFieldName != null}">
        <li class="list-title" th:text="*{subCollectionFieldName}">Sub-collection Field Name</li>
        <li>
            <a class="sub-list-grid-add"
                th:href="@{${'/' + sectionKey + '/' + entityForm.id + '/' + #object.subCollectionFieldName + '/add'}}">
                <i class="foundicon-plus"></i>&nbsp;Add
            </a>
        </li>
        <li><a href="#" class="alert"><i class="foundicon-minus"></i>&nbsp;Remove</a></li>
    </ul>
</div>