<table class="list-grid-table table-hover responsive twelve"
       th:attr="data-listgridtype=*{listGridType},data-currenturl=${currentUrl}"
       th:id="*{subCollectionFieldName != null ? 'listGrid-' + subCollectionFieldName : ''}">
    <thead>
        <tr>
            <th>id</th>
            <th th:each="headerField : *{headerFields}"
                th:class="${'th' + headerFieldStat.count}"
                th:text="#{${headerField.friendlyName}}"
                scope="col">
            </th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="record : *{records}"
        th:attr="data-link=@{${sectionKey + '/' + record.id}}">
        <td data-fieldname="id" th:text="${record.id}" />
        <td th:each="field : ${record.fields}"
            th:class="${'td' + fieldStat.count}"
            th:text="${field.value}"
            th:attr="data-fieldname=${field.name}" />
        </tr>
    </tbody>
</table>