<style>
    #conditions, #actions {
        margin: 20px 0;
    }

    #conditions > .conditional > .remove, #actions > .conditional > .remove {
        display: none;
    }

    #error_message_wrapper {
        margin: 20px 0;
    }

    .conditional {
        padding-left: 60px;
    }

    .conditional .all-any-none-wrapper {
        margin: 5px 20px 5px -60px;
        display: -moz-inline-stack;
        display: inline-block;
    }

    .all-any-none {
        margin-right: 10px;
    }

    .all-any-none-wrapper, .conditional, .rule {
        margin: 10px 0;
    }

    .rule select {
        margin-right: 10px;
    }

    .add-rule, .add-condition, .remove {
        margin: auto 5px;
    }

</style>
<div class="ruleBuilder">
    <h3>Rule Vars</h3>
    <ul>
        <li th:each="ruleVar : *{ruleVars}"
            th:text="${ruleVar}">
        </li>
    </ul>

    <h3>Config Keys</h3>
    <ul>
        <li th:each="configKey : *{configKeys}"
            th:text="${configKey}">
        </li>
    </ul>

    <br/>
    ----------
    <br/>

    <ul>
        <li>Customer Qualification</li>
        <li>Order Qualification</li>
        <li>Item Qualification</li>
        <li>
            <h4>Item Discount Target</h4>
            <div id="conditions"></div>

            <blc_admin:admin_promo_order_item entities="*{entities}" resultVar="output" />
            <script type="text/javascript" th:object="${output}" th:inline="javascript">
                /*<![CDATA[*/
                var json = /*[[*{conditions}]]*/ {};
                var conditions;
                function adminPromoOrderItemOnReady() {
                    conditions = $("#conditions");
                    initializeConditions();
                }

                function initializeConditions() {
                    conditions.conditionsBuilder(json);
                }
                /*]]>*/
            </script>
        </li>
    </ul>
</div>