<div class="ruleBuilder">

    <blc_admin:admin_rule_builder
            entities="*{entities}"
            fieldName="*{fieldName}"
            ceilingEntity="*{ceilingEntity}"
            configKey="*{configKey}"
            mvelProperty="*{mvelProperty}"
            resultVar="wrappers" />

    <!-- Add field name to ID instead of count -->
    <div th:each="wrapper : ${wrappers}" th:id="${wrapper.containerId}"/>

    <script type="text/javascript" th:each="wrapper : ${wrappers}" th:inline="javascript">
        /*<![CDATA[*/
        var conditionsArray = Object.prototype.toString.call(conditionsArray) == "[object Array]" ? conditionsArray : [];

        function Conditions() {
            this.json = /*[[${wrapper.conditions}]]*/ {};
            this.containerId = /*[[${wrapper.containerId}]]*/'';
        }

        conditionsArray.push(new Conditions());
        /*]]>*/
    </script>
</div>