<div class="ruleBuilder">
    <ul>
        <li>
            <h4>Customer Qualification</h4>
        </li>
        <li>
            <h4>Order Qualification</h4>
        </li>
        <li>
            <h4>Item Qualification</h4>
        </li>
        <li>
            <h4>Item Discount Target</h4>
            <div id="conditions"></div>

            <blc_admin:admin_promo_order_item entities="*{entities}" resultVar="output" />
            <script type="text/javascript" th:object="${output}" th:inline="javascript">
                /*<![CDATA[*/
                var json = /*[[*{conditions}]]*/ {};
                var conditions;
                function adminPromoOrderItemOnReady() {
                    conditions = $("#conditions");
                    initializeConditions();
                }

                function initializeConditions() {
                    conditions.conditionsBuilder(json);
                }
                /*]]>*/
            </script>
        </li>
    </ul>
</div>