<div class="row">
    <div class="seven columns">
        <form>
            <label>Search Products</label>
            <div class="row">
                <div class="nine columns">
                    <input type="text" placeholder="Product Name" />
                </div>
                <div class="one columns">
                    <div href="#" class="button small split radius dropdown">
                        <a href="#"><i class="foundicon-search"></i>&nbsp;Search</a>
                        <span></span>
                        <ul>
                            <li><a href="#" data-reveal-id="advanceSearchModal">Advance Search</a></li>
                        </ul>
                    </div>
                </div>
                <div class="two columns">&nbsp;</div>
            </div>
        </form>
    </div>
    <div class="five columns" style="padding-top:17px;">
        <ul class="button-group even three-up">
            <li><a href="#" data-reveal-id="exampleModal" class="button small"><i class="foundicon-plus"></i>&nbsp;Add Product</a></li>
            <li><a href="#" data-reveal-id="exampleModal" class="button small secondary"><i class="foundicon-add-doc"></i>&nbsp;Clone Product</a></li>
            <li><a href="#" data-reveal-id="exampleModal" class="button small secondary"><i class="foundicon-inbox"></i>&nbsp;Export Products</a></li>
        </ul>
    </div>
</div>