<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<blc:substituteby template="catalog/category-head" cacheKey="${'cat:' + category.id}" />
<body>
    <div id="notification_bar"></div>
    <blc:substituteby template="layout/partials/header" customerCacheMethod="common"/>    
    <div id="content" class="width_setter group" role="main">    
        <blc:substituteby template="layout/partials/nav" />
        <blc:substituteby template="catalog/category-internal" cacheKey="${'cat:' + category.id}"/>
    </div>    
    <blc:substituteby template="layout/partials/footer" />    
</body>
</html>
