
<th:block layout:decorator="layout/fullPageLayout">
	<head>
        <title th:utext="${category.name}"></title>
    </head>
    
	<div layout:fragment="content">
	    
	    <div id="content" class="width_setter group" role="main">	        
	        <section id="left_column">
	    
	            <header>
	                <h1 th:inline="text">
	                    <span th:utext="#{category.viewing}">Viewing</span> [[${category.name}]] ([[${result.startResult}]] - [[${result.endResult}]] <span th:utext="#{category.of}">of</span> [[${result.totalResults}]])
	                </h1>
	                <div th:substituteby="catalog/partials/productSortOptions"></div>
	            </header>
	            
	            <ul th:if="${products}" id="products" class="group">
	                <li th:each="product : ${products}" th:object="${product}" th:include="catalog/partials/productListItem" class="product_container"></li>
	            </ul>
	            
	            <ul th:if="${skus}" id="products" class="group">
	                <li th:each="sku : ${skus}" th:object="${sku}" th:include="catalog/partials/skuListItem" class="product_container"></li>
	            </ul>
	            
	            <div th:substituteby="catalog/partials/productPagingOptions" />
	            
	        </section>
	    
	        <section id="right_column">
	            <header><span th:utext="#{category.filterResults}">Filter your results</span></header>
	            <div id="options">
	                
	                <div th:substituteby="catalog/partials/facetFilter" />
	                
	                <div th:substituteby="catalog/partials/rightHandBannerAds" />
	                
	                <section id="right_column">
	                    <header><span th:utext="#{category.featuredProducts}">Featured Products</span></header>
	                    <div id="options">
	                        <div class="section" th:object="${category}">
	                             <blc:related_products categoryId="*{id}" quantity="3"/>     
	                             <ul th:unless="${skus}" id="featured_products" class="group">
	                                <li th:each="product : ${products}" th:object="${product}" th:include="catalog/partials/productListItem" class="product_container"></li>
	                             </ul>
	                             <ul th:if="${skus}" id="featured_products" class="group">
	                                <li th:each="relatedSku : ${relatedSkus}" th:object="${relatedSku}" th:include="catalog/partials/skuListItem" class="product_container"></li>
	                             </ul>
	                        </div>                                  
	                    </div>
	                </section>  
	                
	            </div>
	        </section>
	            
	    </div>
	    
	</div>
</th:block>
