<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<blc:head pageTitle="Broadleaf Demo - Heat Clinic - Browse" />

<body>
	<div id="notification_bar"></div>
	<header th:substituteby="layout/partials/header" />
	
	<div id="content" class="width_setter group" role="main">
	
		<nav th:substituteby="layout/partials/nav" />
		
		<section id="left_column">
	
			<header>
				<h1 th:inline="text">Viewing All [[${category.name}]]</h1>
				<div th:substituteby="catalog/partials/productSortOptions"></div>
			</header>
			
			<ul id="products" class="group">
				<li th:each="product : ${products}" th:object="${product}" th:include="catalog/partials/productListItem" th:remove="tag"></li>
			</ul>
			
		</section>
	
		<section id="right_column">
			<header>Filter your results</header>
			<div id="options">
				<div th:each="facetDto : ${facets}" class="section">
					<h3 th:text="${facetDto.facet.searchFacet.label}"></h3>
					<ul>
						<li th:each="facetValue : ${facetDto.facetValues}" th:class="${facetValue.active}? 'active'">
							<a blc:togglefacetlink="${facetValue}" class="maker">
								<span th:if="${facetValue.value != null}" th:remove="tag"
									th:text="${facetValue.value}"></span>
									
								<span th:unless="${facetValue.value != null}" th:remove="tag">
									<span blc:price="${facetValue.minValue}" th:remove="tag"></span>
									<span th:text="${facetValue.maxValue == null ? ' or more' : ' - '}" th:remove="tag"></span>
									<span th:if="${facetValue.maxValue != null}" blc:price="${facetValue.maxValue}" th:remove="tag"></span>
								</span>
                
								    <span th:if="${facetDto.showQuantity}" th:text="${facetValue.quantity}"></span>
                    
                                  <i th:if="${facetValue.active}" class="icon-remove"></i>
							</a>
						</li>
					</ul>
				</div>
				
				
				<div th:substituteby="catalog/partials/rightHandBannerAds" />
				
				<section id="right_column">
					<header>Featured Products</header>
					<div id="options">
						<div class="section" th:object="${category}">
							 <blc:related_products categoryId="*{id}" quantity="3"/>	 
							 <ul id="featured_products" class="group">
								<li th:each="product : ${products}" th:object="${product}" th:include="catalog/partials/productListItem" th:remove="tag"></li>
							 </ul>
						</div>									
					</div>
				</section>	
				
			</div>
		</section>
			
	</div>
	
	<footer th:substituteby="layout/partials/footer" />
	
</body>
</html>
