<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<blc:head pageTitle="${'Broadleaf Demo - Heat Clinic - ' + product.name}" />

<body>
	<div id="notification_bar"></div>
	<header th:substituteby="layout/partials/header" />
	
	<div id="content" class="width_setter group" role="main">
	
		<nav th:substituteby="layout/partials/nav" />
		
		<section id="left_column" th:object="${product}">
		
			<div id="product_content">
				<h2 th:text="*{name}"></h2>
				
				<div id="maker" th:text="*{manufacturer}"></div>
				
				<div id="price">
					<div blc:price="*{defaultSku.salePrice}" th:if="*{defaultSku.onSale}" th:classappend="*{defaultSku.onSale}? 'sale'"></div>
					<div blc:price="*{defaultSku.retailPrice}" th:classappend="*{defaultSku.onSale}? 'has-sale'"></div>
				</div>
				
				
    			<div class="product-options hidden" th:fragment="productOptions">
					<ul>
						<li th:each="productOption : *{productOptions}" th:object="${productOption}" class="product-option-group cf" th:classappend="*{type.type == 'COLOR'}? 'colors'">
							<label th:text="*{label}"></label>:  <span th:id="*{attributeName}" class="option-value"></span>
							<ul class="cf">
								<li th:each="optionValue : *{allowedValues}" th:object="${optionValue}" th:attr="data-product-option=*{attributeValue}" th:classappend="${productOption.type.type == 'COLOR'}? ${optionValue.attributeValue}">
									<div>
										<span class="option-label" th:text="*{attributeValue}"></span>
									</div>
								</li>
							</ul>						
						</li>
					</ul>
					
					<span class="error centered" style="display: none;">All options are required</span>
				</div>
				
				<form method="POST" th:action="@{/cart/add}">
					<div class="product-option-nonjs" th:each="productOption : *{productOptions}" th:object="${productOption}">
						<div class="form50">
							<label th:text="*{label}"></label>
							<select th:name="${'itemAttributes[' + productOption.attributeName + ']'}">
								<option th:each="optionValue : *{allowedValues}" th:object="${optionValue}" th:text="*{attributeValue}"></option>
							</select>
						</div>
					</div>
					
					<div th:utext="*{longDescription}" id="description"></div>
					
					<div th:class="${'productActions' + product.id}">
						<div class="in_cart" th:classappend="${!cart.containsSku(product.defaultSku)}? ' hidden'"><a class="fancycart fancybox.ajax big-button gray-button" th:href="@{/cart}">In Cart!</a></div>
						<div class="add_to_cart" th:classappend="${cart.containsSku(product.defaultSku)}? ' hidden'">
							<input type="hidden" name="productId" th:value="*{id}" />
							<input type="hidden" name="quantity" value="1" />
							<input type="submit" class="addToCart big red" value="Buy Now!"/>
						</div>
					</div>
				</form>
				
				<div th:unless="${customer.anonymous}" th:remove="tag">
					<form method="POST" th:action="@{/account/wishlist/add}">
					    <input type="hidden" name="productId" th:value="*{id}" />
					    <input type="hidden" name="quantity" value="1" />
					    <input type="submit" class="addToWishlist big red" value="Add to Wishlist" />
					</form>
				</div>
					
				<p>
					Share this Sauce:
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_preferred_1"></a>
                        <a class="addthis_button_preferred_2"></a>
                        <a class="addthis_button_preferred_3"></a>
                        <a class="addthis_button_preferred_4"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-5006d3e47d6ace5d"></script>
                </p>
			</div>
		
			<div id="product_main_image">
				<a th:href="@{*{#strings.replace(media['primary'].url, 'img/sauces/', 'img/sauces/zoom/')}}" class='cloud-zoom' id='zoom1' rel="position: 'inside', showTitle: false, adjustX:-4, adjustY:-4">
		            <img th:src="@{*{media['primary'].url}}" alt='' align="left" />
		        </a>
			</div>
			
			<ul id="product_thumbs">
				<li>
					<a th:href="@{*{#strings.replace(media['primary'].url, 'img/sauces/', 'img/sauces/zoom/')}}" class="cloud-zoom-gallery" rel="useZoom: 'zoom1'" th:attrappend="rel=${', smallImage: '''} + @{*{media['primary'].url}} + ${''''}">
						<img th:src="@{*{media['primary'].url}}" alt="Bottle Closeup" />
					</a>
				</li>
				
				<li th:each="media : *{media}" th:unless="${media.key == 'primary'}">
					<a th:href="@{${#strings.replace(media.value.url, 'img/sauces/', 'img/sauces/zoom/')}}" class="cloud-zoom-gallery" 
						rel="useZoom: 'zoom1'" th:attrappend="rel=${', smallImage: '''} + @{${media.value.url}} + ${''''}">
						<img th:src="@{${media.value.url}}" />
					</a>
				</li>
			</ul>
				
		</section>
	
		<section id="right_column">
			<header>Featured Products</header>
			<div id="options">
			
				<div class="section">
					<ul id="featured_products">
						<li>
							<div class="image">
								<img th:src="@{/img/sauces/Day-of-the-Dead-Habanero-Hot-Sauce-Close.jpg}" alt="Sauce Image" />
								<div class="price">$6.99</div>
							</div>
							
							<div class="content">
							<div class="title">Day of the Dead Habanero Hot Sauce</div>
								Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
							</div>
							<div class="add_to_cart"><a class="medium-button dark-button" href="cart.html">Buy Now</a></div>
						</li>
						
						<li>
							<div class="image">
								<img th:src="@{/img/sauces/Blazin-Saddle-XXX-Hot-Habanero-Pepper-Sauce-Close.jpg}" alt="Sauce Image" />
								<div class="price">$6.99</div>
							</div>
							
							<div class="content">
							<div class="title">Blazin' Saddle XXX Hot Habanero Pepper Sauce</div>
								Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
							</div>
							<div class="add_to_cart"><a class="medium-button dark-button" href="cart.html">Buy Now</a></div>
						</li>				
					</ul>
				</div>
			</div>
		</section>
				
	</div>
	
	<footer th:substituteby="layout/partials/footer" />
	
</body>
</html>
