<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head th:include="/layout/partials/head (pageTitle=${product.name + '- Broadleaf Demo - Heat Clinic'})"></head>

<body>
    <div id="notification_bar"></div>
    <header th:substituteby="layout/partials/header" />

    <div id="content" class="width_setter group" role="main">
    
        <nav th:substituteby="layout/partials/nav" />
        
        <section id="left_column" th:object="${product}">
        
            <div id="product_content" class="product_container">
                <h2 th:text="*{name}"></h2>
                
                <div id="maker" th:text="*{manufacturer}"></div>
                
                <div id="price" th:if="${#object instanceof T(org.broadleafcommerce.core.catalog.domain.ProductBundle)}">
                    <div blc:price="*{salePrice}" th:if="*{onSale}" th:classappend="*{onSale}? 'sale'"></div>
                    <div blc:price="*{retailPrice}" th:classappend="*{onSale}? 'has-sale'"></div>
                </div>
                <div id="price" th:unless="${#object instanceof T(org.broadleafcommerce.core.catalog.domain.ProductBundle)}">
                    <div blc:price="*{defaultSku.salePrice}" th:if="*{defaultSku.onSale}" th:classappend="*{defaultSku.onSale}? 'sale'"></div>
                    <div blc:price="*{defaultSku.retailPrice}" th:classappend="*{defaultSku.onSale}? 'has-sale'"></div>
                </div>
                
                <div class="product-options" th:substituteby="catalog/partials/productOptions"/>                                
                
                <th:block th:with="checkInventory=*{defaultSku.inventoryType?.type == 'CHECK_QUANTITY'},
                                   availableInventory=${checkInventory ? #object.defaultSku.quantityAvailable != null and #object.defaultSku.quantityAvailable != 0 : true},
                                   inCart=${cart.containsSku(#object.defaultSku) and #lists.isEmpty(product.productOptions)}">
                    <blc:form method="POST" th:action="@{/cart/add}">
                        <div class="product-option-nonjs" th:each="productOption : *{productOptions}" th:object="${productOption}">
                            <div class="form50">
                                <label th:text="*{label}"></label>
                                <select th:name="${'itemAttributes[' + productOption.attributeName + ']'}">
                                    <option th:each="optionValue : *{allowedValues}" th:object="${optionValue}" th:text="*{attributeValue}"></option>
                                </select>
                            </div>
                        </div>
                        
                        <div th:utext="*{longDescription}" id="description"></div>
                        
                        <div id="inventory" th:if="${checkInventory}">
                            <b>Available inventory:</b> <span th:text="*{defaultSku.quantityAvailable == null ? '0' : defaultSku.quantityAvailable}" />
                            <div th:if="${!availableInventory}" class="out_of_stock">
                                <a disabled="disabled" class="big-button gray-button">Out of Stock</a>
                            </div>
                        </div>
                        
                        <div th:class="*{'productActions' + id}">
                            <div class="in_cart" th:classappend="${!inCart}? ' hidden'">
                                <a class="modalcart big-button gray-button" th:href="@{/cart}">In Cart!</a>
                            </div>
                            <div class="add_to_cart" th:classappend="${inCart or !availableInventory}? ' hidden'">
                                <input type="hidden" name="productId" th:value="*{id}" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="submit" class="addToCart big red" th:value="#{product.buyNow}"/>
                            </div>
                            <p class="error" th:if="${param.errorMessage}" th:text="${param.errorMessage[0]}"></p>
                        </div>
                    </blc:form>
                </th:block>
    
                <div th:if="${customer.loggedIn}" th:remove="tag">

                    <blc:form method="POST" th:action="@{/account/wishlist/add}">
                        <div class="product-option-nonjs" th:each="productOption : *{productOptions}" th:object="${productOption}">
                            <div class="form50">
                                <label th:text="*{label}"></label>
                                <select th:name="${'itemAttributes[' + productOption.attributeName + ']'}">
                                    <option th:each="optionValue : *{allowedValues}" th:object="${optionValue}" th:text="*{attributeValue}"></option>
                                </select>
                            </div>
                        </div>
                        <div th:class="${'productActions' + product.id}">

                            <blc:named_order orderVar="wishlist" orderName="wishlist" />

                            <div class="in_wishlist" th:classappend="${!wishlist.containsSku(product.defaultSku)}? ' hidden'">
                                <a class="inWishlist small-button gray-button" th:href="@{/account/wishlist}">In Wishlist!</a>
                            </div>
                            <div class="add_to_wishlist" th:classappend="${wishlist.containsSku(product.defaultSku)}? ' hidden'">
                                <input type="hidden" name="productId" th:value="*{id}" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="submit" class="addToWishlist small dark" value="+ Add to Wishlist" />
                            </div>
                        </div>
                    </blc:form>
                </div>
                    
                <p>
                    Share this Sauce:
                    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                        <a class="addthis_button_preferred_1"></a>
                        <a class="addthis_button_preferred_2"></a>
                        <a class="addthis_button_preferred_3"></a>
                        <a class="addthis_button_preferred_4"></a>
                        <a class="addthis_button_compact"></a>
                        <a class="addthis_counter addthis_bubble_style"></a>
                    </div>
                    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-5006d3e47d6ace5d"></script>
                </p>
                
            </div>
            
            <div id="product_main_image" th:if="*{media['primary']}">
                <a th:href="@{*{#strings.replace(media['primary'].url + '?browse', 'jpg?browse', 'jpg')}}" class='jqzoom' id='zoom1' rel="gal1">
                    <img blc:src="@{*{media['primary'].url}+ '?browse'}" alt='' align="left" id="main_image" />
                </a>
            </div>
            
            <div id="product_thumbs_container">
                <ul id="product_thumbs" class="clearfix">
                    <li>
                        <a th:if="*{media['primary']}" href="javascript:;" class="zoomThumbActive" th:rel="${'{ gallery: ''gal1'', smallimage: ''__@{*{media['primary'].url}+'?browse'}__'', largeimage: ''__@{*{media['primary'].url}}__'' }'}" th:attr="data-tags=*{media['primary'].tags}">
                            <img blc:src="@{*{media['primary'].url}}" alt="Bottle Closeup" />
                        </a>
                        <p th:if="*{#maps.size(media) > 1}" class="thumbs_nav">Swipe to see more... (<span th:text="'1 of ' + *{#maps.size(media) > 3 ? 3 : #maps.size(media)}"></span>)</p>
                        
                    </li>
                    
                    <li th:each="media, iterStat : *{media}" th:unless="${media.key == 'primary'}">
                        <a href="javascript:;"
                            th:rel="${'{ gallery: ''gal1'', smallimage: ''__@{${media.value.url}+'?browse'}__'', largeimage: ''__@{${media.value.url}}__'' }'}" th:attr="data-tags=${media.value.tags}">
                            <img blc:src="@{${media.value.url}}" alt="Bottle Closeup" />
                        </a>
                        <p class="thumbs_nav" th:text="${iterStat.count + 1} + ' of ' + *{#maps.size(media) > 3 ? 3 : #maps.size(media)}"></p>
                    </li>
                </ul>
            </div>
            
            <div class="clearfix"></div>
                <div id="customer-reviews-container">
                    <blc:ratings itemId="${product.id}" />
                    <div th:if="${ratingSummary}" th:object="${ratingSummary}">
                        <span class="title">Community Rating</span>
                        <div id="community-rating-container">
                            <blc:form id="community-rating" class="star-rating" th:attr="data-community-rating=*{averageRating}">
                                <input type="radio" class="star {split:4}" /> 
                                <input type="radio" class="star {split:4}" /> 
                                <input type="radio" class="star {split:4}" /> 
                                <input type="radio" class="star {split:4}" /> 
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                                <input type="radio" class="star {split:4}" />
                            </blc:form>
                            <br/>
                            <div class="total-reviews">
                                (<span th:text="*{numberOfReviews}"></span><span th:if="*{numberOfReviews} == 1"> review</span><span th:if="*{numberOfReviews} > 1"> reviews</span>)
                            </div>
                        </div>
                        <div class="clearfix"></div>
                            <blc:ratings itemId="${product.id}" />
                            <div th:if="${currentCustomerReview}" th:object="${currentCustomerReview}" class="customer-reviews current-customer-review">
                                <h4>Your Review</h4>
                                <p class="voting-summary" th:if="*{notHelpfulCount()} + *{helpfulCount()} > 0">
                                    <span th:text="*{helpfulCount()}">9</span> of 
                                    <span th:text="*{notHelpfulCount()} + *{helpfulCount()}">10</span> found the following review helpful
                                </p>
                                <blc:form class="customer-rating" th:attr="data-customer-rating=*{ratingDetail.rating}">
                                    <input type="radio" class="star" />
                                    <input type="radio" class="star" />
                                    <input type="radio" class="star"/>
                                    <input type="radio" class="star" />
                                    <input type="radio" class="star" />
                                </blc:form>
                                <span class="reviewer-info">
                                    on <span th:text="*{#dates.format(reviewSubmittedDate, 'MMMM d, yyyy')}">1-2-2010</span>
                                </span>
                                <div class="clearfix"></div>
                                <blockquote th:if="!*{#strings.isEmpty(reviewText)}" th:text="'&quot;' + *{reviewText} + '&quot;'">Review Text</blockquote>                         
                            </div>
                        <div class="helpful-reviews">
                            <h4>Customer Reviews</h4>
                            <ul class="customer-reviews">
                                <li th:each="review, iterStat : *{reviews}" th:object="${review}" th:if="${iterStat.count} lt 4">
                                    <p class="voting-summary" th:if="*{notHelpfulCount()} + *{helpfulCount()} > 0">
                                        <span th:text="*{helpfulCount()}">9</span> of 
                                        <span th:text="*{notHelpfulCount()} + *{helpfulCount()}">10</span> found the following review helpful
                                    </p>
                                    <blc:form class="customer-rating" th:attr="data-customer-rating=*{ratingDetail.rating}">
                                        <input type="radio" class="star" />
                                        <input type="radio" class="star" />
                                        <input type="radio" class="star"/>
                                        <input type="radio" class="star" />
                                        <input type="radio" class="star" />
                                    </blc:form>
                                    <span class="reviewer-info">
                                        by <span class="penname" th:text="${review.customer.firstName}">John</span> on  
                                        <span th:text="*{#dates.format(reviewSubmittedDate, 'MMMM d, yyyy')}">1-2-2010</span>
                                    </span>
                                    <div class="clearfix"></div>
                                    <blockquote th:if="!*{#strings.isEmpty(reviewText)}" th:text="'&quot;' + *{reviewText} + '&quot;'">Review Text</blockquote>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div th:if="${customer.loggedIn}">
                        <div th:if="${ratingSummary}">
                            <a th:unless="${currentCustomerReview}" class="create-review" th:href="@{'/reviews/product/' + ${product.id}}">Create a review</a> 
                        </div>
                        <div th:unless="${ratingSummary}">
                            <a th:href="@{'/reviews/product/' + ${product.id}}" class="create-review">Be the first to write a review!</a>
                        </div>
                    </div>
                    <div th:unless="${customer.loggedIn}">
                        <a th:if="${ratingSummary}" href="#" th:href="@{/login}" class="small dark account">Login to create a review</a>
                        <a th:unless="${ratingSummary}" th:href="@{/login}" class="account">Login and be the first to write a review!</a>
                    </div>
                </div>          
        </section>
    
        <section id="right_column">
            <header>Featured Products</header>
            <div id="options">
                <div class="section">
                     <blc:related_products productId="${product.id}"/>   
                    <ul id="featured_products" class="group">
                        <li th:each="relatedProduct : ${relatedProducts}" th:object="${relatedProduct.relatedProduct}" th:include="catalog/partials/productListItem" class="product_container"></li>
                    </ul>
                </div>                                  
            </div>
        </section>              
    </div>
    
    <footer th:substituteby="layout/partials/footer" />
    
</body>
</html>
