<link rel="import" href="/web-components/lib/polymer/polymer.html">
<link rel="import" href="/web-components/data/blc-data.html">

<link rel="import" href="/web-components/site/hc-product.html">

<polymer-element name="hc-view-search">
	<template>
		<blc-data-search-products query="{{searchQuery}}" page="{{currentPage}}" pageSize="{{pageSize}}" products="{{results}}"></blc-data-search-products>
	
		<h1 id="heading">Search results for "{{searchQuery}}", ({{(currentPage - 1) * pageSize}} - {{(currentPage * pageSize)}})</h1>	
		
		<ul class="product-list">
			<template repeat="{{product in results.products}}">
				<li>
					<hc-product productId="{{product.id}}"></hc-product>
				</li>
			</template>
		</ul>
		
		<!-- Global style -->
		<link rel="stylesheet" href="/css/web-components-global-styles.css">
		<style>
			#heading {
				width: 70%;
				font: bold 20px/24px Helvetica, sans-serif;
				color: #262322;
				float: left;
			}
		</style>
	</template>
	<script>
		Polymer({
		    
		    publish: {
		        searchQuery: {
		            value: '',
		            reflect: true
		        }
		    }
		});
	</script>
</polymer-element>