<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<script th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingHeader()}" th:remove="tag"></script>

<meta name="description" content="Broadleaf Demo Store" />
<meta name="author" content="Broadleaf Commerce" />

<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />   
<meta name="viewport" content="width=device-width" />

<!--[if IE 7]>
<link rel="stylesheet" th:href="@{/css/font-awesome-ie7.min.css}" />
<![endif]-->

<blc:bundle name="style.css" 
            mapping-prefix="/css/"
            files="style.css,
                   blc-widgets.css,
                   jquery.rating.css" />

<th:block th:if="${#brc.sandboxMode}">
    <blc:bundle name="sandbox.css" 
                mapping-prefix="/css/"
                files="jquery-ui-1.10.2.custom.css,
                       font-awesome.min.css,
                       deepLink.css,
                       sandbox-client.css" />
</th:block>

<th:block th:if="${#brc.csrMode}">
    <blc:bundle name="csr.css" 
                mapping-prefix="/css/"
                files="csr-client.css" />
</th:block>

<script src="../../js/libs/modernizr-2.5.3.min.js" th:src="@{/js/libs/modernizr-2.5.3.min.js}"></script>

<script src="//www.google-analytics.com/cx/api.js"></script>
<blc:googleExperiments execute="true" />
<p th:utext="${experimentInfo}" th:remove="tag"/>

<blc:google_universal_analytics ordernumber="${order?.orderNumber}" />

<meta th:if="${#props.get('google.website.translator.contentKey') != null}" name="google-translate-customization" th:attr="content=${#props.get('google.website.translator.contentKey')}"></meta>