build.properties
target/
.classpath
.project
.settings
*.swp
test-output
.idea
*.iml
.metadata
*.ipr
bin/
site/data/
data/
.svn
site/solrhome
site/src/main/resources/webapp
combined/data/
combined/solrhome
*.error
.DS_Store
.vagrant
