<table id="cart_products">
	<thead>
		<tr>
			<th colspan="2">Item</th>
			<th>Quantity</th>
			<th>Price</th>
			<th>Discount</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="item : ${cart.discreteOrderItems}" th:object="${item}" th:id="${'productRow' + item.id}">
			<td><img th:src="@{*{product.media['primary'].url}}" width="60" th:alt="*{product.name}" /></td>
			<td class="name" th:text="*{product.name}"></td>
			<td align="center">
				<input class="orderItemId" th:id="${'rows' + itemStat.index + '.orderItem.id'}" th:name="${'rows[' + itemStat.index + '].orderItem.id'}" type="hidden" th:value="*{id}"/>
	            <input th:id="${'rows' + itemStat.index + '.quantity'}" th:name="${'rows[' + itemStat.index + '].quantity'}" class="quantityInput" style="width:30px" type="text" th:value="*{quantity}" maxlength="3" autocomplete="off"/><br />
	            <input type="submit" name="updateItemQuantity" value="Update" class="cartButton updateQuantity" th:href="@{/cart/updateQuantity(orderItemId=*{id}, productId=*{product.id})}"/><br />
			  	<a class="cartLinkBtn remove_from_cart" th:href="@{/cart/remove(orderItemId=*{id}, productId=*{product.id})}">Remove</a>
			</td>
			<td align="center" blc:price="*{price}"></td>
			
			<td align="center" th:if="*{adjustmentValue.zero}">---</td>
			<td align="center" th:unless="*{adjustmentValue.zero}" blc:price="*{adjustmentValue}" ></td>
			
			<td align="center" class="value" th:text="*{price.multiply(quantity)}"></td>
		</tr>
	</tbody>
</table>