<div id="cart_total_scroller">
    <div id="scroller_container">

        <div class="scroller_left">
            <a id="cartScrollerLink" class="medium-button dark-button" th:href="@{/cart}">
                <img th:src="@{/img/shopping_cart.png}" alt="Shopping Cart Icon" />
                &nbsp;
                <span class="headerCartItemsCount" th:text="${cart.itemCount}" />
                <span class="headerCartItemsCountWord" th:text="${cart.itemCount == 1 ? ' item' : ' items'}" />
            </a>
        </div>

        <div class="scroller_left">
            <table id="scroller_total_table" cellspacing="10">
                <tr>
                    <th>Subtotal</th>
                    <th>Promotions</th>
                    <th>Taxes</th>
                    <th>Shipping</th>
                </tr>
                <tr>
                    <td blc:price="${cart.subTotal}"></td>
                    <td class="discount" th:if="${cart.orderAdjustmentsValue.zero}">---</td>
                    <td class="discount" th:unless="*{cart.orderAdjustmentsValue.zero}" blc:price="-${cart.orderAdjustmentsValue}"></td>
                    <td blc:price="${cart.totalTax}"></td>
                    <td blc:price="${cart.totalShipping}"></td>
                </tr>
            </table>
        </div>

        <div class="scroller_left">
            <h3>Current Total</h3>
            <div id="scroller_total" blc:price="${cart.total}"></div>
        </div>

        <div class="scroller_right">
            <div>
                <a href="checkout.html" target="_top" class="medium-button red-button">Complete Order</a>
            </div>
            <div>
                <a href="hot_sauces.html" target="_top">&laquo; Continue Shopping</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>