<footer class="group">
	<div id="left_content">
		<h4>Delivering Texas Sized Heat</h4>
		&copy; Copyright 2012 The Heat Clinic<br />
		<a href="">Privacy Policy</a>
	</div>
	<div id="right_content">
		<h4>Since Nineteen Seventy Eight</h4>
		All Rights Reserved.<br />
		<a href="">Customer Service</a>
	</div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>
		//<![CDATA[
		window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')
		//]]>
	</script>
	
	<script th:src="@{/js/plugins.js}"></script>
	<script th:src="@{/js/script.js}"></script>

</footer>
