<header>
	<div id="header_content">
		<div id="cart_info">
		    <div th:if="${customer.anonymous}"  th:remove="tag">
				<a class="account" th:href="@{/login}">Login</a> 
				&nbsp;|&nbsp; 
				<a class="account" th:href="@{/register}">Register</a> 
				&nbsp;|&nbsp; 
			</div>
		    <div th:unless="${customer.anonymous}" th:remove="tag">
				<span th:text="${'Welcome, ' + customer.firstName}"></span>  
				&nbsp;|&nbsp; 
				<a th:href="@{/j_spring_security_logout}">Logout</a> 
				&nbsp;|&nbsp; 
			</div>
			<a id="cartLink" class="fancycart" th:href="@{/cart}">
				<img th:src="@{/img/shopping_cart.png}" alt="Shopping Cart Icon" />
				&nbsp; 
				<span class="headerCartItemsCount" th:text="${cart.itemCount}" />
				<span class="headerCartItemsCountWord" th:text="${cart.itemCount == 1 ? ' item' : ' items'}" />
			</a>
		</div>
		
		<div id="logo"><h1><a th:href="@{/}">The Heat Clinic Home</a></h1></div>
		
		<div id="search">
			<form action="" method="post">
			<input type="text" class="search" name="search" />
			<input type="submit" id="search_button" value="go" />
			</form>
		</div>
	</div>
</header>