<li>
	<div th:if="*{featuredProduct}" class="new_badge">New!</div>
	<div class="image">
		<a th:href="@{*{url}}">
		<img th:src="@{*{media['primary'].url}}" alt="Sauce Image" />
		<div class="price">
			<div blc:price="*{defaultSku.salePrice}" th:if="*{defaultSku.onSale}" th:classappend="*{defaultSku.onSale}? 'sale'"></div>
			<div blc:price="*{defaultSku.retailPrice}" th:classappend="*{defaultSku.onSale}? 'has-sale'"></div>
		</div>
		</a>
	</div>
	<div class="content">
		<div class="title" th:text="*{name}"></div>
		<p th:text="*{longDescription}"></p>
	</div>
	
	<div th:substituteby="partials/productActions"></div>
	
	<div style="display: none;" th:id="${'productOptions' + product.id}" class="product-options modal">
		<h3 th:text="*{name}"></h3>
		<div class="product-options" th:include="product::productOptions"></div>
		<span class="error centered" style="display: none;">All options are required</span>
		<div th:substituteby="partials/productActions"></div>
	</div>
</li>