<div th:class="${'productActions' + product.id}">
	<div class="in_cart" th:classappend="${!cart.containsSku(product.defaultSku)}? ' hidden'"><a class="fancycart fancybox.ajax" th:href="@{/cart}">In Cart!</a></div>
	<div class="add_to_cart" th:classappend="${cart.containsSku(product.defaultSku)}? ' hidden'">
		<form method="POST" th:action="@{/cart/add}">
			<input type="hidden" name="productId" th:value="*{id}" />
			<input type="hidden" name="quantity" value="1" />
			<input type="submit" class="addToCart" value="Buy Now!"/>
		</form>
	</div>
</div>