nav ul li a.active {
	background-color: #E7E3E2;
}

#products li .image .has-sale {
	text-decoration: line-through;
}

#products li .image .sale {
	color: #E40037;
	bottom: 41px;
	padding: 0 0 5px 0;
}