/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   red = #E40037 (link, button, cart bar)
   plum = #3e0000 (titles, dark trans buttons)
   text = #262322
   light-grey = #E7E3E2 (highlight areas, inactive buttons)
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font: 12px/18px Georgia, serif; color: #655c5a; }

::-moz-selection { background: #E40037; color: #fff; text-shadow: none; }
::selection { background: #E40037; color: #fff; text-shadow: none; }

a { color: #E40037; } 
a:visited { color: #E40037; }
a:hover { color: #3e0000; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

label {
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 5px;
	background: url("images/bgdarker.png") top left repeat;
	float: left;
	display: inline;
}

textarea {
	width: 96%;
	background: #F5F4F1;
	font-size: 16px;
	font-weight: bold;
	color: #666;
	border: solid 1px #c4c0bc;
	padding: 2%;
}

.form_row {
	width: 100%;
	float: left;
	display: inline;
}

.field100, .field66, .field50, .field30, .field25 {
	padding: 7px 10px;
	background: #F5F4F1;
	font-size: 14px;
	font-weight: bold;
	color: #666;
	border: solid 1px #c4c0bc;
}

.field100, .form100 label {
	width: 500px;
}

.field50, .form50 label {
	width: 260px;
}

.field30, .form30 label {
	width: 160px;
}

.field25, .form25 label {
	width: 100px;
}

.form100 {
	width: 100%;
	margin-bottom: 5px;
	float: left;
	display: inline;
}

.form50 {
	width: 280px;
	margin-bottom: 5px;
	float: left;
	display: inline;
}

.form30 {
	width: 180px;
	margin-bottom: 5px;
	float: left;
	display: inline;
}

.form25 {
	width: 120px;
	margin-bottom: 5px;
	float: left;
	display: inline;
}

.margin20 {
	margin-left: 20px;
}

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

.group:before, .group:after { content:""; display:table; }
.group:after { clear:both; }
.group { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/proximanova-reg-webfont.eot');
    src: url('../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-reg-webfont.woff') format('woff'),
         url('../fonts/proximanova-reg-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/proximanova-sbold-webfont.eot');
    src: url('../fonts/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-sbold-webfont.woff') format('woff'),
         url('../fonts/proximanova-sbold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ===== Primary Styles ========================================================
   Author: Ben Jordan
   ========================================================================== */

.width_setter {
	width: 980px;
	margin: 0 auto;
}

#notification_bar {
	width: 100%;
	height: 40px;
	background-color: #3e0000;
	margin-bottom: 5px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font: 16px/40px 'ProximaNovaBold', Helvetica, sans-serif;
	display: none;
}

header {
	width: 100%;
	color: #342020;
	font: 15px/28px 'ProximaNovaBold', Helvetica, sans-serif;
	border-top: 15px solid #E40037;
}

#header_content {
	width: 980px;
	margin: 0 auto;
	position: relative;
}
	
#header_content #logo {
	width: 299px;
	height: 101px;
	display: block;
	z-index: 50;
	position: relative;
}

	#header_content #logo h1 {
		width: 299px;
		height: 101px;
		background: url('../img/the-heat-clinic-logo-internal.png') top left no-repeat;
		text-indent: -9999px;
		margin-top: -5px;
		display: block;
	}
	
	#header_content #logo h1 a:link, #logo h1 a:visited {
		width: 299px;
		height: 101px;
		cursor: pointer;
		display: block;
	}
	
#account {
	width: 680px;
	padding: 10px;
	font-size: 12px;
	display: block;
}
	
#account h3 {
	font: 16px/18px 'ProximaNovaBold', Helvetica, sans-serif;
	margin: 0 0 5px 0;
	padding: 0;
}

#account #register, #account #login {
	width: 310px;
	margin: 10px;
	float: left;
	display: inline;
}
	
.login_register {
	margin: 20px 0;
	float: left;
}
	
.login_register a:link, .login_register a:visited {
	font: 14px/16px 'ProximaNovaBold', Helvetica, sans-serif;
	padding: 8px 15px;
	background-color: #E40037;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: white;
	text-decoration: none;
}

.login_register a:hover {
	background-color: #a50832;
	-webkit-transition: background-color 0.2s ease-in;  
	-moz-transition: background-color 0.2s ease-in;  
	-o-transition: background-color 0.2s ease-in;  
	transition: background-color 0.2s ease-in;
}

#cart {
	width: 920px;
	padding: 10px;
	display: block;
}

#cart_products {
	width: 580px;
	float: left;
}

	#cart_products thead tr th {
		padding: 5px;
		text-align: center;
		font: bold 10px/18px Helvetica, sans-serif;
		text-transform: uppercase;
		color: #333;
	}
	
	#cart_products tbody tr td {
		padding: 10px;
		border-bottom: 1px dotted #C8C3C1;
	}
	
		#cart_products tbody tr td .cartLinkBtn {
			font-size: 11px;
		}
	
	#cart_products tbody tr td.name {
		font: 14px/18px 'Oxygen', Helvetica, sans-serif;
	}
	
	#cart_products tbody tr td.value {
		font-family: Helvetica, sans-serif;
		font-size: 16px;
		font-weight: bold;
	}
	
#cart_total {
	width: 260px;
	padding: 10px 20px;
	background-color: #dadada;
	float: right;
}

	#cart_total h3 {
		font: 14px/18px 'Oxygen', Helvetica, sans-serif;
		margin: 0 0 5px 0;
		padding: 0;
	}
	
	#cart_total #subtotal {
		font: 32px/28px 'Oxygen', Helvetica, sans-serif;
	}
	
#cart_promo {
	width: 900px;
	padding: 10px;
	background-color: #3e0000;
	color: #fff;
	float: left;
	display: block;
}

	#cart_promo #promoCode {
		border: none;
		padding: 3px 5px;
		margin-left: 5px;
	}
	
	#cart_promo #addPromo {
		border: none;
		padding: 5px 10px;
		margin-left: 5px;
		background-color: #E40037;
		color: #fff;
	}
	
#checkout {
	margin: 20px 0;
}
	
#checkout a:link, #checkout a:visited {
	font: 14px/16px 'ProximaNovaBold', Helvetica, sans-serif;
	padding: 8px 15px;
	background-color: #E40037;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: white;
	text-decoration: none;
}

#checkout a:hover {
	background-color: #a50832;
	-webkit-transition: background-color 0.2s ease-in;  
	-moz-transition: background-color 0.2s ease-in;  
	-o-transition: background-color 0.2s ease-in;  
	transition: background-color 0.2s ease-in;
}