<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<blc:head pageTitle="Broadleaf Demo - Heat Clinic - Checkout" />

<body>
	<div id="notification_bar"></div>

    <header th:substituteby="layout/partials/headerCheckout" />
    
	<div th:substituteby="${templateName}" />

	<footer th:substituteby="layout/partials/footer" />

	<script type="text/javascript">
		$().ready(function() {
            $('#paymentOptions dd').css({display:"none"});
            $('#paymentMethod_cc').click();
		});
	</script>

</body>
</html>