<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Broadleaf Commerce Demo Store - Heat Clinic</title>
    <th:block th:replace="/layout/partials/head"></th:block>
</head>

<body th:class="${'locale-' + session.blLocale.localeCode}">
    <div id="notification_bar"></div>
    <header th:substituteby="layout/partials/header" />
    
    <div id="content" class="width_setter group" role="main">
    
        <nav th:substituteby="layout/partials/nav" />
        
        <div layout:fragment="content" />
            
    </div>
    
    <th:block layout:fragment="post-content" />
    
    <footer th:substituteby="layout/partials/footer" />
    
</body>
</html>