<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Broadleaf Commerce Demo Store - Heat Clinic</title>
    <th:block th:replace="/layout/partials/head"></th:block>
</head>

<body th:class="${'locale-' + session.blLocale.localeCode}">
    <div id="notification_bar"></div>
    <header th:substituteby="layout/partials/header" />
    
    <div id="content" class="width_setter group" role="main">
        <nav th:substituteby="layout/partials/nav" />
        <blc:content contentType="Homepage Banner Ad" />       
        <div id="banners" th:if="${contentItem !=null and contentItem['targetUrl'] != null and contentItem['imageUrl'] != null}">
            <a th:href="@{${contentItem['targetUrl']}}"><img blc:src="@{${contentItem['imageUrl']}}" /></a>       
        </div>
        
        <blc:content contentType="Homepage Middle Promo Snippet" /> 
        
        <a th:href="@{/register}" th:if="${contentItem !=null and contentItem['htmlContent'] !=null}" style="text-decoration:none">
            <div id="home_feature" th:utext="${contentItem['htmlContent']}"></div>
        </a>

        
        <blc:content contentType="Homepage Featured Products Title" />    
        <div th:if="${contentItem !=null and contentItem['messageText'] !=null}" class="title_bar" th:utext="${contentItem['messageText']}"></div>
        
        <ul th:if="${products}" id="products" class="group">
            <li th:each="product : ${products}" th:object="${product}" th:include="catalog/partials/productListItem" class="product_container"></li>
        </ul>
        
        <ul th:if="${skus}" id="products" class="group">
            <li th:each="sku : ${skus}" th:object="${sku}" th:include="catalog/partials/skuListItem" class="product_container"></li>
        </ul>
    </div>
    
    <footer th:substituteby="layout/partials/footer" />
    
</body>
</html>
