<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Broadleaf Commerce Demo Store - Heat Clinic</title>
    <th:block th:replace="/layout/partials/head"></th:block>
</head>

<body th:class="${'locale-' + session.blLocale.localeCode}">
    <div id="notification_bar"></div>
    <header th:substituteby="layout/partials/header" />
    
    <div id="content" class="width_setter group" role="main">
        <nav th:substituteby="layout/partials/nav" />

        <div id="banners">
            <a th:href="@{/merchandise}"><img blc:src="@{/img/banners/shirt-special.jpg}" /></a>
        </div>
        
        <a th:href="@{/register}" style="text-decoration:none">
            <div id="home_feature">
                <h2>HOT SAUCE AFICIONADO?</h2> Click to join our Heat Clinic Frequent Care Program. The place to get all the deals on burn treatment.
            </div>
        </a>

        
        <div class="title_bar">
            The Heat Clinic's Top Selling Sauces
        </div>
        
        <ul th:if="${products}" id="products" class="group">
            <li th:each="product : ${products}" th:object="${product}" th:include="catalog/partials/productListItem" class="product_container"></li>
        </ul>
        
        <ul th:if="${skus}" id="products" class="group">
            <li th:each="sku : ${skus}" th:object="${sku}" th:include="catalog/partials/skuListItem" class="product_container"></li>
        </ul>
    </div>
    
    <footer th:substituteby="layout/partials/footer" />
    
</body>
</html>
