<div layout:decorator="layout/checkoutLayout" layout:fragment="content">
    <blc:one_page_checkout orderInfoForm="${orderInfoForm}"
                           shippingInfoForm="${shippingInfoForm}"
                           billingInfoForm="${billingInfoForm}"
                           orderInfoHelpMessage="#{cart.fillOutBasicOrder}"
                           billingInfoHelpMessage="#{cart.fillOutBillingAddress}"
                           shippingInfoHelpMessage="#{cart.fillOutShippingAddress}"
                           th:remove="tag">

        <div id="cart">

            <div th:if="${#lists.isEmpty(cart.orderItems)}" class="checkout_warning">
                <span th:utext="#{cart.empty}">Your cart is empty</span>
                <br/>
                <a th:href="@{/}"><span th:utext="#{cart.continueShopping}">Continue Shopping</span></a>
            </div>

        <div th:if="${cartRequiresLock != null}" class="checkout_warning">
            <span th:utext="#{csr_lockCartBeforeCheckout}" />
        </div>

        <div th:unless="${#lists.isEmpty(cart.orderItems) or cartRequiresLock != null}">

                <p th:if="${PAYMENT_PROCESSING_ERROR}" class="payment-error">
                    <span th:utext="#{${PAYMENT_PROCESSING_ERROR}}" class="error">...</span>
                </p>

                <div class="clearfix"></div>

                <div th:replace="checkout/partials/orderSummary :: order-summary"></div>

                <div class="clearfix"></div>

            <div th:each="sectionDTO : ${checkoutSectionDTOs}" th:object="${sectionDTO}" th:remove="tag">
                <div th:if="${'ORDER_INFO' == sectionDTO.view.type}" th:remove="tag">
                    <div th:replace="checkout/partials/orderInfoForm :: order-info-form"
                            th:with="${sectionDTO}"></div>
                    <div class="clearfix"></div>
                </div>
                <div th:if="${'BILLING_INFO' == sectionDTO.view.type}" th:remove="tag">
                    <div th:replace="checkout/partials/billingInfoForm :: billing-info-form"
                            th:with="${sectionDTO}"></div>
                </div>
                <div th:if="${'SHIPPING_INFO' == sectionDTO.view.type}" th:remove="tag">
                    <div th:replace="checkout/partials/shippingInfoForm :: shipping-info-form"
                            th:with="${sectionDTO}"></div>
                </div>
                <div th:if="${'PAYMENT_INFO' == sectionDTO.view.type}" th:remove="tag">
                    <div class="clearfix"></div>
                    <div th:replace="checkout/partials/paymentInfoForm :: payment-info-form"
                            th:with="${sectionDTO}"></div>
                </div>
            </div>

            </div>
        </div>

    </blc:one_page_checkout>
</div>
