<blc:one_page_checkout orderInfoForm="${orderInfoForm}"
                       shippingInfoForm="${shippingInfoForm}"
                       billingInfoForm="${billingInfoForm}">

    <div id="cart">

        <div th:if="${#lists.isEmpty(cart.orderItems)}" class="checkout_warning">
            <span th:text="#{cart.empty}">Your cart is empty</span>
            <br/>
            <a th:href="@{/}"><span th:text="#{cart.continueShopping}">Continue Shopping</span></a>
        </div>

        <div th:unless="${#lists.isEmpty(cart.orderItems)}">

            <div th:replace="checkout/partials/orderSummary :: order-summary"></div>

            <div class="clearfix"></div>

            <div th:replace="checkout/partials/orderInfoForm :: order-info-form"
                    th:if="${showOrderInfoSection}"></div>

            <div class="clearfix"></div>

            <div th:replace="checkout/partials/billingInfoForm :: billing-info-form"
                    th:if="${showBillingInfoSection}"></div>

            <div class="clearfix"></div>

            <div th:replace="checkout/partials/shippingInfoForm :: shipping-info-form"
                    th:if="${showShippingInfoSection}"></div>

            <div class="clearfix"></div>

            <div th:replace="checkout/partials/paymentInfoForm :: payment-info-form"
                    th:if="${showPaymentInfoSection}"></div>

            <div class="clearfix"></div>

        </div>
    </div>

</blc:one_page_checkout>
