<div>
    <div style="display: none;" th:fragment="title" th:inline="text">Order Confirmation [[${order.orderNumber}]] - Broadleaf Demo - Heat Clinic</div>

    <div id="order_confirmation">
        <h2><span th:text="#{confirmation.success}">Success!</span></h2>
        <h3><span th:text="#{confirmation.orderNum}">Order Confirmation #</span> - <span th:text="${order.orderNumber}"/></h3>
        <p class="confirmation-note"><span th:text="#{confirmation.confirmEmail.toBeSent}">A confirmation email will be sent to</span> <span th:text="${order.emailAddress}"></span>.</p>
    </div>

    <div id="cart">

        <div class="cart_title"><span th:text="#{confirmation.orderSummary}">Order Summary</span></div>

        <table id="cart_products">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th align="left"><span th:text="#{cart.item}">Item</span></th>
                <th><span th:text="#{cart.quantity}">Quantity</span></th>
                <th> <span th:text="#{cart.price}">Price</span> <span class="small" th:text="#{cart.each}">(each)</span></th>
                <th> <span th:text="#{cart.totalSavings}">Total Savings</span></th>
                <th><span th:text="#{cart.total}">Total</span></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${order.discreteOrderItems}" th:object="${item}" th:id="${'productRow' + item.id}">
                <td><img th:if="*{product.media['primary'] != null}" blc:src="@{*{product.media['primary']?.url} + '?thumbnail'}" width="60" th:alt="*{product.name}" /></td>
                <td align="left">
                    <a th:href="@{*{product.url}}" th:text="*{product.name}"></a>
                    <br/>
                <blc:product_option_display orderItem="${item}" >
                     <ul th:unless="${#lists.isEmpty(productOptionDisplayValues)}" class="productOptions">
                         <li th:each="entry: ${productOptionDisplayValues}">
                           <span  th:text="${entry.key} + ': ' + ${entry.value}"></span>
                         </li>
                     </ul>
                </blc:product_option_display>
                </td>
                <td align="center" th:text="*{quantity}"></td>
                <td align="center" blc:price="*{price}"></td>
                <td align="center" th:if="*{adjustmentValue.zero}">---</td>
                <td align="center" class="discount" th:unless="*{adjustmentValue.zero}" >
                  <span  align="center"  blc:price="*{totalAdjustmentValue}" class="promotion" ></span>
                     <div class="productOptions" th:substituteby="catalog/partials/offers :: offers"></div>
                </td>
                <td align="center" class="value" blc:price="*{totalPrice}"></td>
            </tr>
            </tbody>
        </table>

        <div id="cart_total" class="group">
            <h3><span th:text="#{confirmation.orderTotal}">Order Total</span></h3>
            <div id="subtotal" blc:price="${order.total}"></div>
            <table width="100%" id="total_table" border="0">
                <tr>
                    <td><span th:text="#{confirmation.orderSubTotal}">Subtotal</span></td>
                    <td blc:price="${order.subTotal}"></td>
                </tr>
                <tr>
                    <td><span th:text="#{confirmation.promotions}">Promotions</span></td>
                    <td class="discount" th:if="${order.orderAdjustmentsValue.zero}">---</td>
                    <td class="discount" th:unless="*{order.orderAdjustmentsValue.zero}" blc:price="${order.orderAdjustmentsValue}"></td>
                </tr>
                <tr>
                    <td><span th:text="#{confirmation.taxes}">Taxes</span></td>
                    <td blc:price="${order.totalTax}"></td>
                </tr>
                <tr>
                    <td><span th:text="#{confirmation.shipping}">Shipping</span></td>
                    <td blc:price="${order.totalShipping}"></td>
                </tr>
            </table>
        </div>

        <div class="cart_title"><span th:text="#{confirmation.shipping.info}">Shipping Information</span></div>

        <div class="clearfix"></div>

        <div th:object="${order.fulfillmentGroups[0]}" th:if="${#lists.size(order.fulfillmentGroups) > 1}">
            <div th:each="fg : ${order.fulfillmentGroups}" th:object="${fg}" class="multishipGroupRow" th:unless="${fg.type?.type == 'GIFT_CARD' or fg.type?.type == 'DIGITAL' or fg.type?.type == 'PHYSICAL_PICKUP'}">
                <h4>
                    <span th:classappend="*{address == null}? 'error'"
                          th:text="*{address == null ? 'Missing Address' : address.firstName + ' at ' + address.addressLine1}"></span>
                    <span>&nbsp;-&nbsp;</span>
                    <span th:classappend="*{fulfillmentOption == null}? 'error'"
                          th:text="*{fulfillmentOption == null ? 'Missing Fulfillment Option' : fulfillmentOption.name + ' (' + fulfillmentOption.longDescription + ')'}"></span>
                    <span blc:price="*{shippingPrice}" class="multishipGroupShippingCharge"></span>
                </h4>
                
                <table class="multiship_summary">
                    <tbody>
                        <tr th:each="item : *{fulfillmentGroupItems}" th:object="${item.orderItem}" th:id="${'productRow' + item.id}">
                            <td align="center" th:text="${item.quantity}"></td>
                            <td align="left">
                                <span th:text="*{sku.name}"></span>
                                       <blc:product_option_display orderItem="${item.orderItem}" >
                                           <ul th:unless="${#lists.isEmpty(productOptionDisplayValues)}" class="productOptions">
                                               <li th:each="entry: ${productOptionDisplayValues}">
                                                 <span  th:text="${entry.key} + ': ' + ${entry.value}"></span>
                                               </li>
                                           </ul>
                                      </blc:product_option_display>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="fulfillment_option" th:object="${order.fulfillmentGroups[0]}" th:inline="text" th:unless="${#lists.size(order.fulfillmentGroups) > 1}">
           <div th:unless="*{type?.type == 'GIFT_CARD' or type?.type == 'DIGITAL' or type?.type == 'PHYSICAL_PICKUP'}"> 
               <div class="left_content">
                    <address>
                        [[*{address.firstName == null ? '' : address.firstName}]]&nbsp;[[*{address.lastName == null ? '' : address.lastName}]]<br/>
                        [[*{address.phonePrimary?.phoneNumber == null ? '' : address.phonePrimary?.phoneNumber}]]<br/>
                        [[*{address.addressLine1 == null ? '' : address.addressLine1}]]<br/>
                        [[*{address.addressLine2 == null ? '' : address.addressLine2}]]<br th:if="!*{#strings.isEmpty(address.addressLine2)}"/>
                        [[*{address.city == null ? '' : address.city}]],&nbsp;[[*{address.state?.abbreviation == null ? '' : address.state?.abbreviation}]]&nbsp;[[*{address.postalCode == null ? '' : address.postalCode}]]<br/>
                        [[*{address.country.name == null ? '' : address.country.name}]]<br/>
                    </address>
                </div>
                <div class="right_content">
                    <h3><span th:text="#{confirmation.shipping.method}">Shipping Method</span></h3>
                    <b>[[*{fulfillmentOption.name}]]</b><br/>
                    ([[*{fulfillmentOption.longDescription}]])
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="cart_title"><span th:text="#{confirmation.billing.info}">Billing Information</span></div>

        <div class="clearfix"></div>

        <div class="payment_method" th:each="payment : ${order.payments}" th:object="${payment}" th:inline="text">
            <div th:if="${payment.active}" class="left_content">
                <h3><span th:text="#{confirmation.payment.method}">Payment Method</span></h3>
                Payment type: [[*{type.friendlyType}]]<br/>
                Amount paid: <span blc:price="*{amount}" />
                <div th:if="${payment.initialTransaction != null}">
                    <div th:if="!*{#strings.isEmpty(initialTransaction.additionalFields['CARD_TYPE'])}">
                        <b th:text="*{initialTransaction.additionalFields['CARD_TYPE']}"/><br/>
                        ****<span th:text="*{initialTransaction.additionalFields['LAST_FOUR']}"/><br/>
                        <span th:text="#{confirmation.exp}">exp.</span> <span th:text="*{initialTransaction.additionalFields['EXP_DATE']}"/>
                        <address>
                            [[*{billingAddress.firstName == null ? '' : billingAddress.firstName}]]&nbsp;[[*{billingAddress.lastName == null ? '' : billingAddress.lastName}]]<br/>
                            [[*{billingAddress.phonePrimary?.phoneNumber == null ? '' : billingAddress.phonePrimary?.phoneNumber}]]<br/>
                            [[*{billingAddress.addressLine1 == null ? '' : billingAddress.addressLine1}]]<br/>
                            [[*{billingAddress.addressLine2 == null ? '' : billingAddress.addressLine2}]]<br th:if="!*{#strings.isEmpty(billingAddress.addressLine2)}"/>
                            [[*{billingAddress.city == null ? '' : billingAddress.city}]],&nbsp;[[*{billingAddress.state?.abbreviation == null ? '' : billingAddress.state?.abbreviation}]]&nbsp;[[*{billingAddress.postalCode == null ? '' : billingAddress.postalCode}]]<br/>
                            [[*{billingAddress.country.name == null ? '' : billingAddress.country.name}]]<br/>
                        </address>
                    </div>
                    <div th:if="!*{#strings.isEmpty(initialTransaction.additionalFields['ACCOUNT_CREDIT_NUM'])}">
                        <span th:text="#{cart.accountCredit.accounts}">Accounts</span><br/>
                        <b th:text="*{initialTransaction.additionalFields['ACCOUNT_CREDIT_NUM']}"/><br/>
                    </div>
                    <div th:if="!*{#strings.isEmpty(initialTransaction.additionalFields['GIFT_CARD_NUM'])}">
                        <span th:text="#{cart.giftCardNumber}">Gift Card Number</span><br/>
                        <b th:text="*{initialTransaction.additionalFields['GIFT_CARD_NUM']}"/><br/>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
