<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">

    <!-- Broadleaf requires AOP -->
    <aop:config/>
    
    <!-- Tell Spring to not try to map things in these directories to controllers -->
    <!-- Order must be set to supercede the handler configured by the mvc:annotation-driven annotation -->
    <mvc:resources order="-10" location="classpath:/open_admin_style/img/, classpath:/common_style/img/" mapping="/img/**" />
    <mvc:resources order="-10" location="classpath:/open_admin_style/fonts/, classpath:/common_style/fonts/" mapping="/fonts/**" />
    <mvc:resources order="-10" location="WEB-INF/favicon.ico" mapping="/favicon.ico" />
    <mvc:resources order="-10" location="WEB-INF/robots.txt" mapping="/robots.txt" />
    
    <!-- Map various location URLs to our resource handlers -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="order" value="-10" />
        <property name="mappings">
            <props>
                <prop key="/js/**">blJsResources</prop>
                <prop key="/css/**">blCssResources</prop>
            </props>
        </property>
    </bean>
    
    <!-- Set up the view resolver to be used by Spring -->
    <bean class="org.broadleafcommerce.common.web.BroadleafThymeleafViewResolver">
        <property name="templateEngine" ref="blAdminWebTemplateEngine" />
        <property name="order" value="1" />
        <property name="cache" value="${thymeleaf.view.resolver.cache}" />
        <property name="characterEncoding" value="UTF-8" />
        <property name="fullPageLayout" value="layout/fullPageLayout" />
        <property name="layoutMap">
            <map>
                <entry key="login/" value="layout/loginLayout" />
                <entry key="views/" value="NONE" />
                <entry key="modules/modalContainer" value="NONE" />
            </map>
        </property>
    </bean>

    <mvc:interceptors>
        <!-- Interceptor for locale-->
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="locale"/>
        </bean>
        
        <!-- Interceptor to turn off caching -->
        <bean id="webContentInterceptor" class="org.broadleafcommerce.core.web.interceptor.NonResourceWebContentInterceptor">
            <property name="cacheSeconds" value="0"/>
            <property name="useExpiresHeader" value="true"/>
            <property name="useCacheControlHeader" value="true"/>
            <property name="useCacheControlNoStore" value="true"/>
        </bean>
    </mvc:interceptors>

    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="defaultLocale" value="en"/>
    </bean>

    <mvc:default-servlet-handler/>

</beans>
