<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
    xmlns:sec="http://www.springframework.org/schema/security"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    	http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context-3.1.xsd
    	http://www.springframework.org/schema/security
    	http://www.springframework.org/schema/security/spring-security-3.1.xsd
    	http://www.springframework.org/schema/util
    	http://www.springframework.org/schema/util/spring-util-3.1.xsd">

    <context:component-scan base-package="org.broadleafcommerce.profile.web.core.security"/>
    <context:component-scan base-package="org.broadleafcommerce.core.web.order.security"/>

	<bean id="springSecurityFilterChain" class="org.springframework.security.web.FilterChainProxy">
		<sec:filter-chain-map request-matcher="ant">
			<sec:filter-chain pattern="/css/**" filters="none" />
			<sec:filter-chain pattern="/images/**" filters="none" />
			<sec:filter-chain pattern="/js/**" filters="none" />
            <sec:filter-chain pattern="/utility.service" filters="none" />
            <sec:filter-chain pattern="/com.mycompany.gwt.mycompanyAdmin/remote_logging/remote_logging" filters="none" />
            <sec:filter-chain pattern="/api/**" 
                filters="blRequestWrapperFilter,
                    blRestCustomerStateFilter"/>
            <sec:filter-chain pattern="/com.mycompany.gwt.mycompanyAdmin/**"
				filters="
                	blSecurityContextPersistenceFilterWithASCTrue,
                	blAdminLogoutFilter,
                	blAdminAuthenticationProcessingFilter,
                	blRequestWrapperFilter,
                	blAdminRememberMeAuthenticationFilter,
                	blAdminExceptionTranslationFilter,
                	blAdminFilterSecurityInterceptor" />
            <sec:filter-chain pattern="/admin*"
				filters="
                	blSecurityContextPersistenceFilterWithASCTrue,
                	blAdminLogoutFilter,
                	blAdminAuthenticationProcessingFilter,
                	blRequestWrapperFilter,
                	blAdminRememberMeAuthenticationFilter,
                	blAdminExceptionTranslationFilter,
                	blAdminFilterSecurityInterceptor" />
			<sec:filter-chain pattern="/admin/*"
				filters="
                	blSecurityContextPersistenceFilterWithASCTrue,
                	blAdminLogoutFilter,
                	blAdminAuthenticationProcessingFilter,
                	blRequestWrapperFilter,
                	blAdminRememberMeAuthenticationFilter,
                	blAdminExceptionTranslationFilter,
                	blAdminFilterSecurityInterceptor" />
            <sec:filter-chain pattern="/*.service"
				filters="
                	blSecurityContextPersistenceFilterWithASCTrue,
                	blAdminLogoutFilter,
                	blAdminAuthenticationProcessingFilter,
                	blRequestWrapperFilter,
                	blAdminRememberMeAuthenticationFilter,
                	blAdminExceptionTranslationFilter,
                	blAdminFilterSecurityInterceptor" />
		</sec:filter-chain-map>
	</bean>

	<bean id="blRequestWrapperFilter"
		class="org.springframework.security.web.servletapi.SecurityContextHolderAwareRequestFilter" />
    
    <bean id="blRestCustomerStateFilter"
          class="org.broadleafcommerce.profile.web.core.security.RestApiCustomerStateFilter"/>

	<bean id="blSecurityContextPersistenceFilterWithASCTrue"
		class="org.springframework.security.web.context.SecurityContextPersistenceFilter">
        <constructor-arg>
            <bean class='org.springframework.security.web.context.HttpSessionSecurityContextRepository'>
                <property name='allowSessionCreation' value='true' />
            </bean>
        </constructor-arg>
	</bean>



	<bean id="blAdminAuthenticationProcessingFilter"
		class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
		<property name="authenticationManager" ref="blAuthenticationManager" />
		<property name="authenticationFailureHandler" ref="broadleafAdminAuthenticationFailureHandler" />
		<property name="authenticationSuccessHandler" ref="springAdminAuthenticationSuccessHandler" />
		<property name="filterProcessesUrl" value="/admin/login_admin_post" />
        <property name="rememberMeServices" ref="blAdminRememberMeServices"/>
	</bean>

    <bean id="blAdminLogoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
		<constructor-arg>
			<bean class="org.broadleafcommerce.common.security.BroadleafAdminLogoutSuccessHandler">
				<property name="defaultTargetUrl" value="/admin.html"/>
			</bean>
		</constructor-arg>
		<constructor-arg>
			<list>
				<ref local="blAdminRememberMeServices" />
				<bean
					class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" />
			</list>
		</constructor-arg>
		<property name="filterProcessesUrl" value="/adminLogout.htm" />
	</bean>
	
	<bean id="broadleafAdminAuthenticationFailureHandler"
		class="org.broadleafcommerce.common.security.BroadleafAuthenticationFailureHandler">
		<constructor-arg value="/blcadmin/login.jsp?login_error=true" />
<!-- 		<property name="redirectStrategy" ref="blAuthenticationFailureRedirectStrategy" /> -->
	</bean>

	<bean id="springAdminAuthenticationSuccessHandler"
		class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
<!-- 		<property name="redirectStrategy" ref="blAuthenticationFailureRedirectStrategy" /> -->
		<property name="defaultTargetUrl" value="/admin.html" />
		<property name="alwaysUseDefaultTargetUrl" value="false" />
	</bean>
	
	<bean id="blAdminRememberMeAuthenticationFilter"
		class="org.springframework.security.web.authentication.rememberme.RememberMeAuthenticationFilter">
		<property name="rememberMeServices" ref="blAdminRememberMeServices" />
		<property name="authenticationManager" ref="blAuthenticationManager" />
	</bean>
	
	<bean id="blAdminRememberMeServices"
		class="org.broadleafcommerce.common.security.EnhancedTokenBasedRememberMeServices">
		<property name="key" value="SPRING_SECURITY_REMEMBER_ME_COOKIE" />
		<property name="userDetailsService" ref="userDetailsManager" />
	</bean>

	<bean id="blAdminExceptionTranslationFilter"
		class="org.springframework.security.web.access.ExceptionTranslationFilter">
		<property name="authenticationEntryPoint">
			<bean
				class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
				<property name="loginFormUrl" value="/blcadmin/login.jsp" />
				<property name="forceHttps" value="true" />
				<property name="portMapper">
					<bean class="org.springframework.security.web.PortMapperImpl">
						<property name="portMappings">
							<map>
								<entry key="8081">
									<value>8444</value>
								</entry>
							</map>
						</property>
					</bean>
				</property>
			</bean>
		</property>
	</bean>
	<bean id="blAdminFilterSecurityInterceptor"
		class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<property name="accessDecisionManager" ref="blAccessDecisionManager"/>
		<property name="authenticationManager" ref="blAuthenticationManager" />
		<property name="securityMetadataSource">
			<sec:filter-security-metadata-source>
				<sec:intercept-url pattern="/admin.html*" access="PERMISSION_OTHER_DEFAULT" />
				<sec:intercept-url pattern="/dynamic.entity.service" access="PERMISSION_OTHER_DEFAULT" />
			</sec:filter-security-metadata-source>
		</property>
	</bean>
	
	<bean id="blAccessDecisionManager" class="org.springframework.security.access.vote.UnanimousBased">
		<property name="decisionVoters">
			<list>
				<bean class="org.springframework.security.access.vote.RoleVoter">
					<property name="rolePrefix" value="PERMISSION_" />
				</bean>
			</list>
		</property>
	</bean>
	
	<sec:global-method-security access-decision-manager-ref="blAccessDecisionManager" secured-annotations="enabled" />
		
	<sec:authentication-manager alias="blAuthenticationManager">
		<sec:authentication-provider
			user-service-ref="userDetailsManager">
			<sec:password-encoder hash="plaintext" />
		</sec:authentication-provider>
	</sec:authentication-manager>
    
    <bean id="blAdminUserDetailsService" class="org.broadleafcommerce.openadmin.server.security.service.AdminUserDetailsServiceImpl"/>

    <alias name="blAdminUserDetailsService" alias="userDetailsManager"/>
	
	<!-- TODO: figure out why exactly this is needed. Without this here, causes SPEL parse exception because it cannot find a right-hand operand -->
	<bean id="broadleafApplicationFilterChain" class="org.springframework.security.web.FilterChainProxy">
        <property name="filterChainMap">
            <util:map map-class="java.util.LinkedHashMap">

            </util:map>
        </property>
    </bean>

</beans>