<ul id="account-menu">
    <li><a th:href="@{/account}">Account Information</a></li>
    <li><a th:href="@{/account/orders}">View Orders</a></li>
    <li><a th:href="@{/account/password}">Change Password</a></li>
    <li><a th:href="@{/account/addresses}">Manage Addresses</a></li>
    <li><a th:href="@{/account/wishlist}">Manage Wishlist</a></li>
    <li><a th:href="@{/account/credit}">Manage Account Credit</a></li>
    <li><a th:href="@{/account/giftcard/redeem}">Redeem Gift Card</a></li>
</ul>