<table id="wishlist_items">
    <thead>
        <tr>
            <th><input type="checkbox" id="select_all_wishlist_items" /></th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="item : ${wishlist.discreteOrderItems}" th:object="${item}" th:id="${'productRow' + item.id}">
            <td class="checkbox"><input type="checkbox" name="" /></td>
            <td><img th:src="@{*{product.media['primary'].url}}" width="60" th:alt="*{product.name}" /></td>
            <td class="name">
                <a th:href="@{*{product.url}}" th:text="*{product.name}"></a>
                <br/>
                <ul th:unless="*{#lists.isEmpty(sku.productOptionValues)}" class="productOptions">
                    <li th:each="productOptionValue : *{sku.productOptionValues}" th:text="${productOptionValue.productOption.label + ': ' + productOptionValue.attributeValue}"></li>
                </ul>
            </td>
            <td align="center">
                <form method="POST" th:action="@{/wishlist/updateQuantity}">
                    <input type="hidden" name="productId" th:value="*{product.id}" />
                    <input type="hidden" name="orderItemId" th:value="*{id}" />
                    <input type="text" name="quantity" class="quantityInput" style="width:30px" th:value="*{quantity}" maxlength="3" autocomplete="off"/><br />
                    <input type="submit" class="updateQuantityWishlist" value="Update"/>
                </form>
                <a class="cartLinkBtn remove_from_wishlist" th:href="@{/wishlist/remove(orderItemId=*{id}, productId=*{product.id})}">Remove</a>
            </td>
            <td align="center" blc:price="*{price}"></td>

            <td align="center" class="value" th:text="*{price.multiply(quantity)}"></td>
        </tr>
    </tbody>
</table>