<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Broadleaf Demo Store - The Heat Clinic</title>
	<meta name="description" content="Broadleaf Demo Store" />
	<meta name="author" content="Broadleaf Commerce" />

	<meta name="viewport" content="width=device-width" />
	
	<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="css/style.css" />

	<script src="js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
<header>
	<div id="notification_bar"></div>
	<div id="cart_bar">
		<div class="width_setter">
			<div id="cart_info"><a href="">Login</a> &nbsp;|&nbsp; <a href="">Register</a> &nbsp;|&nbsp; <a href="cart.html"><img src="img/shopping_cart.png" alt="Shopping Cart Icon" />&nbsp; 1 Item</a></div>
		</div>
	</div>
	<div class="width_setter">
		<div id="logo"><h1><a href="/index.html">The Heat Clinic Home</a></h1></div>
	</div>
</header>
<div id="content" class="width_setter group" role="main">

	<blc-catalog:categories categoryName="Nav" iterVar="navCategories" />
		
	<nav>
		<ul th:remove="all-but-first">
			<li th:each="category : ${navCategories}">
				<a href="#" th:href="@{${category.url}}" class="home" th:text="${category.name}">Home</a>
			</li>
			<li><a href="hot_sauces.html">Hot Sauces</a></li>
			<li><a href="">Merchandise</a></li>
			<li><a href="">Clearance</a></li>
			<li><a href="">New to Hot Sauce?</a></li>
			<li><a href="">FAQs</a></li>
		</ul>
	</nav>
	
	<div id="banners">
		<a href=""><img src="img/banners/buy-one-get-one-home-banner.jpg" alt="Buy One Get One" /></a>
	</div>
	
	<div id="home_feature">
		<h2>HOT SAUCE AFICIONADO?</h2>
		Click here to join our Heat Clinic Frequent Care Program. The place to get all the deals on burn treatment.
	</div>
	
	<div class="title_bar">
		The Heat Clinic's Top Selling Sauces
	</div>
	
	<ul id="products" class="group">
		<li>
			<div class="image">
				<a href="sauce.html">
				<img src="img/sauces/Bull-Snort-Smokin-Toncils-Hot-Sauce-Bottle.jpg" alt="Sauce Image" />
				<div class="price">$6.99</div>
				</a>
			</div>
			
			<div class="content">
			<div class="title">Bull Snort Smokin' Toncils Hot Sauce</div>
				Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
			</div>
			<div class="add_to_cart"><a href="cart.html">Buy Now</a></div>
		</li>
		
		<li>
			<div class="image">
				<a href="sauce.html">
				<img src="img/sauces/Cool-Cayenne-Pepper-Hot-Sauce-Bottle.jpg" alt="Sauce Image" />
				<div class="price">$6.99</div>
				</a>
			</div>
			
			<div class="content">
			<div class="title">Cool Cayenne Pepper Hot Sauce</div>
				Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
			</div>
			<div class="add_to_cart"><a href="cart.html">Buy Now</a></div>
		</li>
		
		<li>
			<div class="image">
				<a href="sauce.html">
				<img src="img/sauces/Armageddon-The-Hot-Sauce-To-End-All-Bottle.jpg" alt="Sauce Image" />
				<div class="price">$6.99</div>
				</a>
			</div>
			<div class="content">
			<div class="title">Armageddon The Hot Sauce To End All</div>
				Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
			</div>
			<div class="add_to_cart"><a href="cart.html">Buy Now</a></div>
		</li>
		
		<li>
			<div class="image">
				<a href="sauce.html">
				<img src="img/sauces/Blazin-Saddle-XXX-Hot-Habanero-Pepper-Sauce-Bottle.jpg" alt="Sauce Image" />
				<div class="price">$6.99</div>
				</a>
			</div>
			
			<div class="content">
			<div class="title">Blazin' Saddle XXX Hot Habanero Pepper Sauce</div>
				Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
			</div>
			<div class="add_to_cart"><a href="cart.html">Buy Now</a></div>
		</li>
	</ul>
</div>

<footer class="group">
	<div id="left_content">
		<h4>Delivering Texas Sized Heat</h4>
		&copy; Copyright 2012 The Heat Clinic<br />
		<a href="">Privacy Policy</a>
	</div>
	<div id="right_content">
		<h4>Since Nineteen Seventy Eight</h4>
		All Rights Reserved.<br />
		<a href="">Customer Service</a>
	</div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
	//<![CDATA[
	window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')
	//]]>
</script>

<script src="js/plugins.js"></script>
<script src="js/script.js"></script>
</body>
</html>
