<div>

    <dl class="tabs">
        <dd class="active"><a href="#tab1">Tab 1</a></dd>
        <dd><a href="#tab2">Tab 2</a></dd>
        <dd><a href="#tab3">Tab 3</a></dd>
    </dl>

    <ul class="tabs-content">
        <li class="active" id="tab1Tab">

            <form th:object="${entityForm}"
                  method="POST"
                  class="twelve columns custom"
                  th:action="${currentUrl}">

                <input type="hidden" th:field="*{entityType}" />

                <fieldset th:each="group : *{groups.values()}" th:classappend="${!group.isVisible}? 'hidden'">
                    <legend th:text="#{${group.title}}" />

                    <div th:each="field : ${group.fields}" th:if="${field.name}">
                        <span class="error" th:errors="*{fields['__${field.name}__'].value}" />
                        <div th:substituteby="${'/fields/' + #strings.toLowerCase(field.fieldType)}" />
                    </div>
                </fieldset>

                <input type="submit" class="button right" value="Save"/>
            </form>
            
        </li>
        <li id="tab2Tab">
            Tab 2 Content
        </li>
        <li id="tab3Tab">
            Tab 3 Content
        </li>
    </ul>

</div>
