<style>
    .formInnerContainer {
    	margin: 10px;
    }
    
    .well {
        padding: 0 19px;
    }
    
    legend {
        font-size: 19px;
        line-height: 34px;
    }
    
</style>

<div class="formInnerContainer">

    <div th:each="collectionListGrid : ${entityForm.collectionListGrids}">
        <div th:include="/components/listGrid" th:object="${collectionListGrid}" th:remove="tag" />
    </div>
    
    <form th:object="${entityForm}" 
        method="POST" 
        class="form-horizontal">
        
        <input type="submit" />
        
        <input type="hidden" th:field="*{entityType}" />
    
        <div th:each="group : *{groups.values()}" class="well">
        
            <legend th:text="${group.title}" />
            
            <div th:each="field : ${group.fields}" class="control-group" th:if="${field.name}">
                <label class="control-label" th:for="${field.name}" th:text="#{${field.friendlyName}}" />
                <div class="controls">
                    <input th:substituteby="${'/fields/' + #strings.toLowerCase(field.fieldType)}" />
                </div>
            </div>
            
        </div>

    </form>
    
</div>