<div class="adornedListGridContainer">

    <div class="listGridContainer">
        <div th:include="/components/listGrid" th:object="${listGrid}" th:remove="tag" />
    </div>
    
    <form th:object="${entityForm}"
          method="POST"
          class="twelve columns custom modal-form"
          th:action="@{${currentUrl}}">

        <input type="hidden" th:field="*{entityType}" />

        <fieldset th:each="group : *{groups.values()}" th:classappend="${!group.isVisible}? 'hidden'">
            <legend th:text="${group.title}" />

            <div th:each="field : ${group.fields}" th:if="${field.name}">
                <div th:substituteby="${'/fields/' + #strings.toLowerCase(field.fieldType)}" />
            </div>
        </fieldset>
    </form>
    
</div>