<div class="formInnerContainer">
    
    <form th:object="${entityForm}"
          method="POST"
          class="twelve columns custom modal-form"
          th:action="@{${currentUrl}}">

        <input type="hidden" th:field="*{entityType}" />

        <fieldset th:each="group : *{groups.values()}" th:classappend="${!group.isVisible}? 'hidden'">
        
            <legend th:text="${group.title}" />

            <div th:each="field : ${group.fields}" th:if="${field.name}">
                <div th:substituteby="${'/fields/' + #strings.toLowerCase(field.fieldType)}" />
            </div>
        </fieldset>

        <input type="submit" class="button right modal-submit" value="Save"/>
    </form>
    
</div>