<th:block layout:decorator="layout/fullPageLayout">
    <head>
        <title th:text="${category.name}"></title>
    </head>

    <div layout:fragment="content">
        
        <div blc:cache="true" cacheCategory="true" th:remove="tag">
             <section id="left_column">
         
                 <header>
                     <h1 th:inline="text">
                         <span th:text="#{category.viewing}">Viewing</span> [[${category.name}]] ([[${result.startResult}]] - [[${result.endResult}]] <span th:text="#{category.of}">of</span> [[${result.totalResults}]])
                     </h1>
                     <div th:substituteby="catalog/partials/productSortOptions"></div>
                 </header>
                 
                 <ul th:if="${products}" id="products" class="group">
                     <li th:each="product : ${products}" th:object="${product}" th:include="catalog/partials/productListItem" class="product_container"></li>
                 </ul>
            
                 <ul th:if="${skus}" id="products" class="group">
                     <li th:each="sku : ${skus}" th:object="${sku}" th:include="catalog/partials/skuListItem" class="product_container"></li>
                 </ul>
                 
                 <div th:substituteby="catalog/partials/productPagingOptions" />
                 
             </section>
         
             <section id="right_column">
                 <header><span th:text="#{category.filterResults}">Filter your results</span></header>
                 <div id="options">
                     
                     <div th:substituteby="catalog/partials/facetFilter" />
                     
                     <div id="right-hand-banner-ads-placeholder" />

                     <blc:content-zone name="Right Hand Side Related Products Zone" deepLinks="deepLinks" />

                 </div>
             </section>
        </div>            

    </div>
    
    <div layout:fragment="post-content" th:substituteby="catalog/partials/rightHandBannerAds" />

</th:block>