<div id="account" layout:decorator="layout/fullPageLayout" layout:fragment="content">
    <head>
        <title>Reset Password Error</title>
    </head>
    
    <div id="resetPassword">
        <h3>Reset Password Error</h3>                   
        
        <span class="error" th:switch="${errorCode}" th:if="${errorCode}"> 
            <p th:case="'tokenUsed'">The password reset URL has already been used.   To request another password reset URL, click the Forgot Password link below.</p>
            <p th:case="'tokenExpired'">The password reset URL has expired.  To request another password reset URL, click the Forgot Password link below.</p>
            <p th:case="*">The password reset URL is invalid.</p> 
        </span>

        <a class="account" th:href="@{/login/forgotPassword}">Forgot Password</a>
        <br/>
        <a class="account" th:href="@{/login}">Login</a> 
        <br/>
        <a class="account" th:href="@{/register}">Register</a> 
                        
    </div>
</div>
