<div id="account">  
    <div style="display:none;" th:fragment="title" th:inline="text">Reset Password - Broadleaf Demo - Heat Clinic</div>
    
    <div id="resetPassword">
        <h3>Reset Password</h3>
        <p>Enter your email address and new password information to update your password.</p>   
            
        <blc:form id="resetPasswordForm" th:object="${resetPasswordForm}" th:action="@{/login/resetPassword}" method="post" class="clearfix">
            <input type="hidden" th:field="*{token}"  />
            <div class="form50">
                <label for="username">Email</label>
                <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>                                                
                <input type="email" th:field="*{username}" th:class="${#fields.hasErrors('username')}? 'field50 fieldError' : 'field50'" />
            </div>
            <div class="form50">
                <label for="password">Password</label>
                <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                <input type="password" th:field="*{password}" th:class="${#fields.hasErrors('password')}? 'field50 fieldError' : 'field50'" />
            </div>
            <div class="form50">
                <label for="passwordConfirm">Confirm Password</label>
                <span class="error" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
                <input type="password" th:field="*{passwordConfirm}" th:class="${#fields.hasErrors('passwordConfirm')}? 'field50 fieldError' : 'field50'" />
            </div>          
            
            <div class="login_register">
                <input class="big red" type="submit" value="Update Password"/>
            </div>                 
        </blc:form>
    </div>
</div>