<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<blc:head pageTitle="Broadleaf Demo" />

<body>
	<div id="notification_bar"></div>
	<header th:substituteby="layout/partials/header" />
	
	<div id="content" class="width_setter group" role="main">
	
		<nav th:substituteby="layout/partials/nav" />
		
		<div id="account">	
			<div id="resetPassword">
				<h3>Reset Password</h3>
				<p>Enter your email address and new password information to update your password.</p>	
					
				<form id="resetPasswordForm" th:object="${resetPasswordForm}" th:action="@{/login/resetPassword}" method="post">
					<input type="hidden" th:field="*{csrfToken}" blc:csrftoken="" />
				    <input type="hidden" th:field="*{token}"  />
					<div class="form50">
						<label for="username">Email</label>
						<span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>												
						<input type="email" th:field="*{username}" th:class="${#fields.hasErrors('username')}? 'field50 fieldError' : 'field50'" />
					</div>
					<div class="form50">
						<label for="password">Password</label>
					    <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
						<input type="password" th:field="*{password}" th:class="${#fields.hasErrors('password')}? 'field50 fieldError' : 'field50'" />
					</div>
					<div class="form50">
						<label for="passwordConfirm">Confirm Password</label>
					    <span class="error" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
						<input type="password" th:field="*{passwordConfirm}" th:class="${#fields.hasErrors('passwordConfirm')}? 'field50 fieldError' : 'field50'" />
					</div>			
					
					<div class="login_register">
						<input class="reset_password_button submitFormButton" type="submit" value="Update Password"/>
					</div>				   
				</form>
			</div>
		</div>

	</div>
	
	<footer th:substituteby="layout/partials/footer" />
	
</body>
</html>