<footer>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/security.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin.js}"></script>
    <script type="text/javascript" th:src="@{/js/listGrid.js}"></script>
</footer>