<div>
    <footer th:fragment="modules">
        <script type="text/javascript" th:src="@{com.mycompany.gwt.mycompanyAdmin/admin/js/jquery-1.8.0.min.js}"></script>
        <script type="text/javascript" th:src="@{com.mycompany.gwt.mycompanyAdmin/admin/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{com.mycompany.gwt.mycompanyAdmin/admin/js/admin.js}"></script>
        <script type="text/javascript" th:src="@{com.mycompany.gwt.mycompanyAdmin/com.mycompany.gwt.mycompanyAdmin.nocache.js}"></script>
    </footer>
    <footer th:fragment="login">
        <script type="text/javascript" th:src="@{com.mycompany.gwt.mycompanyAdmin/admin/js/jquery-1.8.0.min.js}"></script>
        <script type="text/javascript" th:src="@{com.mycompany.gwt.mycompanyAdmin/admin/js/security.js}"></script>
    </footer>
    <footer th:fragment="non-gwt">
        <script type="text/javascript" th:src="@{com.mycompany.gwt.mycompanyAdmin/admin/js/jquery-1.8.0.min.js}"></script>
        <script type="text/javascript" th:src="@{com.mycompany.gwt.mycompanyAdmin/admin/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{com.mycompany.gwt.mycompanyAdmin/admin/js/bootstrap-datepicker.js}"></script>
        <script type="text/javascript" th:src="@{com.mycompany.gwt.mycompanyAdmin/admin/js/admin.js}"></script>
    </footer>
</div>