<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="Content-Author" content="Broadleaf Commerce" />
    <meta name="viewport" content="width=device-width" />

    <title>Broadleaf Admin v3.0</title>

    <link blc:jawr-css="/css/admin/all.css" th:remove="tag" />

    <script blc:jawr-js="/js/admin/modernizr.foundation.js" th:remove="tag" />
    <script blc:jawr-js="/js/admin/blc-rulebuilder-operators.js" th:remove="tag" />
    <script blc:jawr-js="/js/admin/blc-rulebuilder-options.js" th:remove="tag" />
</head>