<head>
    <div th:fragment="modules">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Language" content="en-us" />
        <meta http-equiv="Content-Author" content="Broadleaf Commerce" />
        <title>Broadleaf Admin</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" />
        <link rel="stylesheet" type="text/css" th:href="@{com.mycompany.gwt.mycompanyAdmin/admin/style/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{com.mycompany.gwt.mycompanyAdmin/admin/style/bootstrap-datepicker.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{com.mycompany.gwt.mycompanyAdmin/admin/style/admin.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{com.mycompany.gwt.mycompanyAdmin/admin/style/RichTextToolbar.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{resources/css/admin.css}" />
        <script> var isomorphicDir = "com.mycompany.gwt.mycompanyAdmin/sc/"; </script>
        <script>window.isc_useSimpleNames = false</script>
    </div>
    <div th:fragment="login">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Language" content="en-us" />
        <meta http-equiv="Content-Author" content="Broadleaf Commerce" />
        <title>Broadleaf Admin</title>
        <link rel="stylesheet" type="text/css" th:href="@{com.mycompany.gwt.mycompanyAdmin/admin/style/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{resources/css/admin.css}" />
    </div>
</head>