<div id="modules" class="sidebar-nav">

    <blc_admin:admin_module resultVar="modules" />

    <ul class="nav">
        <li th:each="module : ${modules}" th:inline="text">
            <a class="module-header" href="#" data-toggle="collapse">
                <i class="icon-white" th:classappend="${module.icon}"></i>
                [[#{${module.moduleKey}}]]
                <i class="collapse-icon pull-right"
                   th:classappend="${currentAdminModule.id == module.id}? 'icon-chevron-up' : 'icon-chevron-down' "></i>
            </a>
            <div class="collapse" th:classappend="${currentAdminModule.id == module.id}? 'in'">
                <ul th:each="section : ${module.sections}" class="module nav nav-list">
                    <li>
                        <a blc_admin:admin_section_href="${section}"
                           th:classappend="${currentAdminSection.id == section.id}? 'active'">[[#{${module.moduleKey} + '.' + ${section.sectionKey}}]]</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

</div>