<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<blc:head pageTitle="Broadleaf Demo - Heat Clinic - Browse" />

<body>
	<div id="notification_bar"></div>
	<header th:substituteby="partials/header" />
	
	<div id="content" class="width_setter group" role="main">
	
		<nav th:substituteby="partials/nav" />
		
		<section id="left_column">
	
			<header>
				<h1>Viewing All Hot Sauces</h1>
				<div id="sort">
					Sort by:
					<select id="sortby">
						<option value="awesomeness">Awesomeness</option>
					</select>
				</div>
			</header>
			
			<ul id="products" class="group" th:remove="all-but-first">
				<li th:each="product : ${products}" th:object="${product}">
					<div th:if="*{featuredProduct}" class="new_badge">New!</div>
					<div class="image">
						<a th:href="@{*{url}}">
						<img th:src="@{*{media['primary'].url}}" alt="Sauce Image" />
						<div class="price">
							<div blc:price="*{defaultSku.salePrice}" th:if="*{defaultSku.onSale}" th:classappend="*{defaultSku.onSale}? 'sale'"></div>
							<div blc:price="*{defaultSku.retailPrice}" th:classappend="*{defaultSku.onSale}? 'has-sale'"></div>
						</div>
						</a>
					</div>
					<div class="content">
						<div class="title" th:text="*{name}"></div>
						<p th:text="*{longDescription}"></p>
					</div>
					
					<div th:substituteby="partials/productActions"></div>
				</li>
			</ul>
			
		</section>
	
		<section id="right_column">
			<header>Filter your results</header>
			<div id="options">
				<div class="section">
					<h3>Choose Manufacturers to Show</h3>
					<div class="maker"><input type="checkbox" id="makers[]" name="Bull Snort" /> Bull Snort</div>
					<div class="maker"><input type="checkbox" id="makers[]" name="Spice Exchange" /> Spice Exchange</div>
				</div>
				
				<div class="section">
					<a href=""><img src="img/bannerad.jpg" alt="The Essentials Collection" /></a>
				</div>
				
				<div class="section">
					<h3>Must Have Sauces</h3>
					<ul id="featured_products">
						<li>
							<div class="image">
								<a href="sauce.html">
								<img src="img/sauces/Day-of-the-Dead-Habanero-Hot-Sauce-Close.jpg" alt="Sauce Image" />
								<div class="price">$6.99</div>
								</a>
							</div>
							
							<div class="content">
							<div class="title">Day of the Dead Habanero Hot Sauce</div>
								Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
							</div>
							<div class="add_to_cart"><a href="">Buy Now</a></div>
						</li>
						
						<li>
							<div class="image">
								<a href="sauce.html">
								<img src="img/sauces/Blazin-Saddle-XXX-Hot-Habanero-Pepper-Sauce-Close.jpg" alt="Sauce Image" />
								<div class="price">$6.99</div>
								</a>
							</div>
							
							<div class="content">
							<div class="title">Blazin' Saddle XXX Hot Habanero Pepper Sauce</div>
								Donec sed odio dui. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
							</div>
							<div class="add_to_cart"><a href="">Buy Now</a></div>
						</li>				
					</ul>
				</div>
			</div>
			
		</section>
			
	</div>
	
	<footer th:substituteby="partials/footer" />
	
</body>
</html>
