<div class="productOptions" th:fragment="offers">
             <ul th:if="*{#lists.size(orderItemPriceDetails)>=1}" class="promotion" >
                  <div th:remove="tag" th:each="orderItemPriceDetail : *{orderItemPriceDetails}" th:object="${orderItemPriceDetail}">
                   <li  class="promotion" th:each="orderItemPriceDetailAdjustment : ${orderItemPriceDetail.orderItemPriceDetailAdjustments}" th:object="${orderItemPriceDetailAdjustment}" >                   
                    <span th:text="*{offerName}"></span>
                    </li>
                    </div>
                </ul>
</div>

<div class="productOptions" th:fragment="orderDetails">
             <ul th:if="${#lists.size(orderItem.orderItemPriceDetails)>=1}" class="promotion" >
                  <div th:remove="tag" th:each="orderItemPriceDetail : ${orderItem.orderItemPriceDetails}" th:object="${orderItemPriceDetail}">
                   <li  class="promotion" th:each="orderItemPriceDetailAdjustment : ${orderItemPriceDetail.orderItemPriceDetailAdjustments}" th:object="${orderItemPriceDetailAdjustment}" >                   
                    <span th:text="'Promotion Applied: ' + *{offerName}"></span>
                    </li>
                    </div>
                </ul>
</div>
 