<div class="product-options hidden" th:fragment="productOptions">
	<ul>
		<li th:each="productOption : *{productOptions}" th:object="${productOption}" class="product-option-group cf" th:classappend="*{type.type == 'COLOR'}? 'colors'">
			<label th:text="*{label}"></label>:  <span th:id="*{attributeName}" class="option-value"></span>
			<ul class="cf">
				<li th:each="optionValue : *{allowedValues}" th:object="${optionValue}" th:attr="data-product-option=*{attributeValue}" th:classappend="${productOption.type.type == 'COLOR'}? ${optionValue.attributeValue}">
					<div>
						<a href="#" class="option-label" th:text="*{attributeValue}"></a>
					</div>
				</li>
			</ul>						
		</li>
	</ul>
	
	<span class="error centered" style="display: none;">All options are required</span>
</div>