<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html lang="en">
    <head th:include="admin/layout/partials/head" />
    <body>
    
        <header th:substituteby="admin/layout/partials/header" />
        
        <div id="nav-container">
            <div th:substituteby="admin/layout/partials/leftNav" />
        </div>
        
        <div id="content-container">
            <div th:substituteby="${templateName}" />
        </div>
                    
        <footer th:substituteby="admin/layout/partials/footer::non-gwt" />
        
    </body>
</html>