<html lang="en">
    <head th:include="layout/partials/head" />
    <body>
        <div id="outer-container">
    
        <header th:substituteby="layout/partials/header" />
        
            <div id="nav-container">
                <div th:substituteby="layout/partials/leftNav" />
            </div>
            
            <div id="content-container">
                <div th:substituteby="${templateName}" />
            </div>
                    
        <footer th:substituteby="layout/partials/footer" />
        
        </div>
        
    </body>
</html>