<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html lang="en">
    <head th:include="admin/layout/partials/head" />
    <body>
        <div id="login">
            <div id="logo">
                <img th:src="@{resources/img/broadleaf_admin_header_logo.png}" />
            </div>
            <div th:substituteby="${templateName}::form" />
        </div>
        <div id="messages" th:include="${templateName}::messages" />
        <div id="options" th:include="${templateName}::options" />
        <footer th:include="admin/layout/partials/footer::login" />
    </body>
</html>