<div id="account">	
	<div id="login">
		<h3>Login to Your Account</h3>
		<p>Already a member? Sign in using the form below.</p>
		
		<p class="error" th:if="${param.error}">The e-mail address and/or password entered do not match our records.  Please try again</p>

		<form th:action="@{/login_post.htm}" method="post">
			<div class="form50">
				<label for="j_username">Email</label>
				<input type="text" name="j_username" th:class="${param.error} ? 'field50 fieldError' : 'field50'" />
			</div>
			<div class="form50">
				<label for="j_password">Password</label>
				<input type="password" name="j_password" th:class="${param.error} ? 'field50 fieldError' : 'field50'" />
			</div>
			<div class="login_register"><input class="login_button submitFormButton" type="submit" value="Login"/></div>			
		    <div class="form50">
			    <a class="account" th:href="@{/register}">Register</a> 
			</div>
			<div class="form50">
				<a class="account" th:href="@{/login/forgotPassword}">Forgot Password</a>
			</div>			
		</form>
	</div>
	
</div>