<div id="account">

	<div id="register">
		<h3>Register for an Account</h3>
		<p>Don't have an account yet? Sign up for one now to gain access to all our member tools.</p>
		<form action="" method="post">
			<div class="form50">
				<label for="name">Name</label>
				<input type="text" name="name" class="field50" />
			</div>
			<div class="form50">
				<label for="email">Email</label>
				<input type="text" name="email" class="field50" />
			</div>
			<div class="form50">
				<label for="password">Password</label>
				<input type="password" name="password" class="field50" />
			</div>
			<div class="form50">
				<label for="password_confirm">Confirm Password</label>
				<input type="password" name="password_confirm" class="field50" />
			</div>
			<div class="login_register"><a href="" target="_top">Register</a></div>
		</form>
	</div>
	
	<div id="login">
		<h3>Login to Your Account</h3>
		<p>Already a member? Sign in using the form below.</p>
		<form action="" method="post">
			<div class="form50">
				<label for="email">Email</label>
				<input type="text" name="email" class="field50" />
			</div>
			<div class="form50">
				<label for="password">Password</label>
				<input type="password" name="password" class="field50" />
			</div>
			<div class="form50">
				<a href="">Forgot password?</a>
			</div>
			<div class="login_register"><a href="" target="_top">Login</a></div>
		</form>
	</div>
	
</div>