<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<blc:head pageTitle="Broadleaf Demo" />

<body>
<div id="notification_bar"></div>
<header th:substituteby="layout/partials/header" />

<div id="content" class="width_setter group" role="main">

    <nav th:substituteby="layout/partials/nav" />

    <div class="manage-account-container clearfix">
		<h1>Account Options</h1>
        <ul th:substituteby="account/partials/accountMenu" />
			
		<div class="manage-account-form-wrapper">	
	        <h2>Change Your Password</h2>
	        <p class="success" th:if="${successMessage}" th:text="${successMessage}"></p>
	        <form class="manage-account" action="#" th:action="@{/account/password}" th:object="${changePasswordForm}" method="POST">
	            <div class="form100">
	                <label for="currentPassword">Current Password:</label>
	                <span class="error" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></span>
	                <input type="password" name="currentPassword" id="currentPassword" th:field="*{currentPassword}" class="field50" th:classappend="${#fields.hasErrors('currentPassword')}? 'fieldError'"/>
	            </div>
	            <div class="form100">
	                <label for="newPassword">New Password:</label>
	                <span class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
	                <input type="password" name="newPassword" id="newPassword" th:field="*{newPassword}" class="field50" th:classappend="${#fields.hasErrors('newPassword')}? 'fieldError'"/>
	            </div>
	            <div class="form100">
	                <label for="newPasswordConfirm">Confirm New Password:</label>
	                <span class="error" th:if="${#fields.hasErrors('newPasswordConfirm')}" th:errors="*{newPasswordConfirm}"></span>
	                <input type="password" name="newPasswordConfirm" id="newPasswordConfirm" th:field="*{newPasswordConfirm}" class="field50" th:classappend="${#fields.hasErrors('newPasswordConfirm')}? 'fieldError'"/>
	            </div>
	            <input type="submit" class="medium red" value="Submit" />
	        </form>
		</div>
    </div>

</div>

<footer th:substituteby="layout/partials/footer" />

</body>
</html>