<div class="manage-account-form-wrapper">   
    <p class="success" th:if="${successMessage}" th:text="${successMessage}"></p>
    <h2>Change Your Password</h2>
    <blc:form class="manage-account" action="#" th:action="@{/account/password}" th:object="${changePasswordForm}" method="POST" style="width: 400px;">
        <div class="form100">
            <label for="currentPassword">Current Password:</label>
            <span class="error" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></span>
            <input type="password" name="currentPassword" id="currentPassword" th:field="*{currentPassword}" class="field50" th:classappend="${#fields.hasErrors('currentPassword')}? 'fieldError'"/>
        </div>
        <div class="form100">
            <label for="newPassword">New Password:</label>
            <span class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
            <input type="password" name="newPassword" id="newPassword" th:field="*{newPassword}" class="field50" th:classappend="${#fields.hasErrors('newPassword')}? 'fieldError'"/>
        </div>
        <div class="form100">
            <label for="newPasswordConfirm">Confirm New Password:</label>
            <span class="error" th:if="${#fields.hasErrors('newPasswordConfirm')}" th:errors="*{newPasswordConfirm}"></span>
            <input type="password" name="newPasswordConfirm" id="newPasswordConfirm" th:field="*{newPasswordConfirm}" class="field50" th:classappend="${#fields.hasErrors('newPasswordConfirm')}? 'fieldError'"/>
        </div>
        <input type="submit" class="medium red" value="Submit" />
    </blc:form>
</div>