<div id="cart">
	<table id="cart_products">
		<thead>
			<tr>
				<th colspan="2">Item</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Discount</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><img src="img/sauces/Blazin-Saddle-XXX-Hot-Habanero-Pepper-Sauce-Close.jpg" width="60" alt="Blazin' Saddle XXX Hot Habanero Pepper Sauce" /></td>
				<td class="name">Blazin' Saddle XXX Hot Habanero Pepper Sauce</td>
				<td align="center">
					<input id="rows0.orderItem.id" name="rows[0].orderItem.id" type="hidden" value="981"/>
		            <input id="rows0.quantity" name="rows[0].quantity" class="quantityInput" style="width:30px" type="text" value="1" maxlength="3" autocomplete="off"/><br />
		            <input type="submit" name="updateItemQuantity" id="updateQuantity" value="Update" class="cartButton" /><br />
				  	<a class="cartLinkBtn" href="">Remove</a>
				</td>
				<td align="center">$6.99</td>
				<td align="center">--</td>
				<td align="center" class="value">$6.99</td>
			</tr>
			<tr>
				<td><img src="img/sauces/Blazin-Saddle-XXX-Hot-Habanero-Pepper-Sauce-Close.jpg" width="60" alt="Blazin' Saddle XXX Hot Habanero Pepper Sauce" /></td>
				<td class="name">Blazin' Saddle XXX Hot Habanero Pepper Sauce</td>
				<td align="center">
					<input id="rows0.orderItem.id" name="rows[0].orderItem.id" type="hidden" value="981"/>
		            <input id="rows0.quantity" name="rows[0].quantity" class="quantityInput" style="width:30px" type="text" value="1" maxlength="3" autocomplete="off"/><br />
		            <input type="submit" name="updateItemQuantity" id="updateQuantity" value="Update" class="cartButton" /><br />
				  	<a class="cartLinkBtn" href="">Remove</a>
				</td>
				<td align="center">$6.99</td>
				<td align="center">--</td>
				<td align="center" class="value">$6.99</td>
			</tr>
		</tbody>
	</table>
	
	<div id="cart_total" class="group">
		<h3>Your Current Subtotal</h3>
		<div id="subtotal">$23.99</div>
		<p>Subtotal does not yet include applicable tax or shipping and handling charges.</p>
		<div id="checkout"><a href="checkout.html" target="_top">Checkout</a></div>
		<p><a href="hot_sauces.html" target="_top">&laquo; Continue Shopping</a></p>
	</div>
	
	<div id="cart_promo">
		<label for="promoCode">Promo Code:</label>
		<input id="promoCode" name="promoCode" type="text" value="" maxlength="10" autocomplete="off"/>
		<input type="submit" id="addPromo" name="addPromo" value="Apply Discount" class="cart_button" />
	</div>

</div>