<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.1.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">
    
    <!-- Scan Broadleaf defined web utility classes -->
    <!--  context:component-scan base-package="org.broadleafcommerce.cms.web"/ -->
    <context:component-scan base-package="org.broadleafcommerce.common.web"/>
    <context:component-scan base-package="org.broadleafcommerce.profile.web.controller"/>
    <context:component-scan base-package="org.broadleafcommerce.profile.web.core.service.login"/>

    <!-- Scan DemoSite Sample Payment Gateway Implementation -->
    <context:component-scan base-package="com.mycompany.sample" />

    <!-- Turn on AOP annotations (required by Broadleaf) -->
    <aop:config/>
    
    <!--  Checks for a URL match to a product's SEO URL.   -->
    <bean class="org.broadleafcommerce.core.web.catalog.SkuHandlerMapping">
      <property name="order" value="2"/>
    </bean>
    
    <bean class="org.broadleafcommerce.core.web.catalog.ProductHandlerMapping">
      <property name="order" value="3"/>
    </bean>
    
    <!--  Checks for a URL match to a CMS managed page URL.   -->
    <bean class="org.broadleafcommerce.cms.web.PageHandlerMapping">
      <property name="order" value="4"/>
    </bean>
    
    <!--  Checks for a URL match to a category's SEO URL -->
    <bean class="org.broadleafcommerce.core.web.catalog.CategoryHandlerMapping">
      <property name="order" value="5"/>
    </bean>

    <!-- Scan for custom controllers -->
    <context:component-scan base-package="com.mycompany.controller" />
    
    <!-- Allow annotation driven controllers -->
    <mvc:annotation-driven/>


    <!-- Disable caching for any non-resource. This prevents the header from becoming stagnant -->
    <mvc:interceptors>
        <!-- Interceptor for blLocalCode-->
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="blLocaleCode"/>
        </bean>
    </mvc:interceptors>

    <!-- Default locale set -->
    <bean id="localeResolver" class="org.broadleafcommerce.common.web.BroadleafCookieLocaleResolver" />
    
    <!-- Tell Spring to not try to map things in these directories to controllers -->
    <!-- Order must be set to supercede the handler configured by the mvc:annotation-driven annotation -->
    <mvc:resources order="-10" location="/img/, classpath:/common_style/img/" mapping="/img/**" />
    <mvc:resources order="-10" location="/fonts/, classpath:/common_style/fonts/" mapping="/fonts/**" />
    <mvc:resources order="-10" location="WEB-INF/favicon.ico" mapping="/favicon.ico" />
    
    <!-- Map various location URLs to our resource handlers -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="order" value="-10" />
        <property name="mappings">
            <props>
                <prop key="/js/**">blJsResources</prop>
                <prop key="/css/**">blCssResources</prop>
            </props>
        </property>
    </bean>
    
    <!-- Set up the view resolver to be used by Spring -->
    <bean class="org.broadleafcommerce.common.web.BroadleafThymeleafViewResolver">
        <property name="templateEngine" ref="blWebTemplateEngine" />
        <property name="order" value="1" />
        <property name="cache" value="${thymeleaf.view.resolver.cache}" />
        <property name="characterEncoding" value="UTF-8" />
    </bean>
    
    <!-- This validator will additionally require state on shipping addresses -->
    <bean id="blShippingInfoFormValidator" class="org.broadleafcommerce.core.web.checkout.validator.USShippingInfoFormValidator" />
    
</beans>
