<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>mycompany</display-name>

    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>site.root</param-value>
    </context-param>

    <context-param>
        <param-name>patchConfigLocation</param-name>
        <param-value>
            classpath:/bl-open-admin-contentClient-applicationContext.xml
            classpath:/bl-cms-contentClient-applicationContext.xml
            classpath*:/blc-config/site/bl-*-applicationContext.xml
            classpath:/applicationContext.xml
            classpath:/applicationContext-email.xml
            /WEB-INF/applicationContext-datasource.xml
            /WEB-INF/applicationContext-rest-api-security.xml
            /WEB-INF/applicationContext-security.xml
            /WEB-INF/applicationContext-filter.xml
            /WEB-INF/applicationContext-workflow.xml
            /WEB-INF/applicationContext.xml
        </param-value>
    </context-param>

    <context-param>
        <param-name>shutdownHookMethod</param-name>
        <param-value>forceFlush</param-value>
    </context-param>

    <absolute-ordering />
    
    <listener>
        <listener-class>
             org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- enable configured logging -->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/log4j.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.broadleafcommerce.common.web.extensibility.MergeContextLoader</listener-class>
    </listener>
    
    <listener>
        <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
    </listener>
    
    <!-- Note: The applicationContext-servlet-cms-contentClient.xml file is used to load static assets
         from the Broadleaf CMS such as images. It will match on any URL that contains the static asset
         prefix URL in any depth of it. -->
    <servlet>
        <servlet-name>mycompany</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                classpath*:/blc-config/site/bl-*-applicationContext-servlet.xml
                classpath:/applicationContext-servlet-cms-contentClient.xml
                /WEB-INF/applicationContext-servlet.xml
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>mycompany</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <!-- The RESTApiServlet can be disabled, but doesn't have to be. It will throw an exception if 
         it is accessed when no endpoints have been registered via Spring. Add /WEB-INF/applicationContext-rest-api.xml 
         to the merge patchConfigLocation ABOVE applicationContext-security.xml to activate and begin using REST services. 
         Alternately, this servlet and servlet mapping can be commented out entirely. -->
    <servlet>
    	<servlet-name>RESTApiServlet</servlet-name>
    	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>
                org.springframework.web.context.support.AnnotationConfigWebApplicationContext
            </param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                com.mycompany.api.RestApiMvcConfiguration
            </param-value>
        </init-param>
        <init-param>
            <param-name>throwExceptionIfNoHandlerFound</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
    	<servlet-name>RESTApiServlet</servlet-name>
    	<url-pattern>/api/v1/*</url-pattern>
	</servlet-mapping>

    <env-entry>
        <env-entry-name>appName</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>mycompanySite</env-entry-value>
    </env-entry>
    
</web-app>
