<footer class="group">
	<div id="left_content">
		<h4>Delivering Texas Sized Heat</h4>
		&copy; Copyright 2012 The Heat Clinic<br />
		<a href="">Privacy Policy</a>
	</div>
	<div id="right_content">
		<h4>Since Nineteen Seventy Eight</h4>
		All Rights Reserved.<br />
		<a href="">Customer Service</a>
	</div>
    <div id="blc_brand">
        <a href="http://www.broadleafcommerce.com"  >
            <h4>Powered by Broadleaf Commerce</h4>
        </a>
        &copy; Copyright 2012 Broadleaf Commerce<br />
    </div>

	<div th:remove="all">
		<!--
			Include this template at the bottom of a page (automatically included by partials/footer.html
			to gain access to jQuery and other plugins used throughout the site.
			
			We will attempt to load the jQuery library from Google's CDN, but fallback on our own provided
			jQuery if necessary.
			
			Other than this jQuery loading script, no other scripts should be defined inline.
		-->
	</div>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>
		//<![CDATA[
		window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')
		//]]>
	</script>
	
	<script th:src="@{/js/plugins.js}"></script>
	<script th:src="@{/js/libs/jquery.MetaData.js}"></script>
	<script th:src="@{/js/libs/jquery.rating.pack.js}"></script>
	<script th:src="@{/js/libs/jquery.dotdotdot-1.5.1.js}"></script>
	
	<div th:remove="all">
		<!--
			In a production environment, you would want to use some pre-processor (such as JAWR) to
			collapse these JavaScript files into one for faster performance and naming the files in a
			versioned way to avoid browser cache issues. This has the added benefit of allowing proper
			organization of the JavaScript in the project.
		-->
	</div>
	<script th:src="@{/js/BLC.js}"></script>
	<script th:src="@{/js/heatClinic.js}"></script>
	<script th:src="@{/js/cartOperations.js}"></script>
    <script th:src="@{/js/checkoutOperations.js}"></script>
	<script th:src="@{/js/globalOnReady.js}"></script>
    <script th:src="@{/js/manageAccountOperations.js}"></script>
    <script th:src="@{/js/reviewOperations.js}"></script>
	
</footer>
