<header>
	<div id="header_content">
		<div id="cart_info">
		    <div th:if="${customer.anonymous}"  th:remove="tag">
				<a class="account" th:href="@{/login}">Login</a> 
				&nbsp;|&nbsp; 
				<a class="account" th:href="@{/register}">Register</a> 
				&nbsp;|&nbsp; 
			</div>
		    <div th:unless="${customer.anonymous}" th:remove="tag">
				<span>Welcome, <a class="my-account" th:href="@{/account}" th:text="${customer.firstName}"></a></span>  
				&nbsp;|&nbsp; 
				<a th:href="@{/logout}">Logout</a> 
				&nbsp;|&nbsp; 
			</div>
			<a id="cartLink" class="fancycart" th:href="@{/cart}">
				<img th:src="@{/img/shopping_cart.png}" alt="Shopping Cart Icon" />
				&nbsp; 
				<span class="headerCartItemsCount" th:text="${cart.itemCount}" />
				<span class="headerCartItemsCountWord" th:text="${cart.itemCount == 1 ? ' item' : ' items'}" />
			</a>
		</div>
		
		<div id="logo"><h1><a th:href="@{/}">The Heat Clinic Home</a></h1></div>
		
		<div id="search">
			<form th:action="@{/search}" method="GET">
			<input type="search" class="search" name="q" th:value="${originalQuery}" />
			<input type="submit" id="search_button" value="go" />
			</form>
		</div>
	</div>
</header>
