<header>
    <div id="header_content">
        <div id="cart_info">

            <div th:if="${customer.anonymous}"  th:remove="tag">

                <a class="account" th:href="@{/login}">
                    <span th:utext="#{home.login}">Login</span>
                </a>
                &nbsp;|&nbsp; 
                <a class="account" th:href="@{/register}">
                    <span th:utext="#{home.register}">Register</span>
                </a>
                &nbsp;|&nbsp; 
            </div>
            <div th:unless="${customer.anonymous}" th:remove="tag">
                <span><span th:utext="#{home.welcome}">Welcome</span>, <a class="my-account" th:href="@{/account}" th:utext="${customer.firstName}"></a></span>
                &nbsp;|&nbsp; 
                <a th:href="@{/logout}">
                    <span th:utext="#{home.logout}">Logout</span>
                </a>
                &nbsp;|&nbsp; 
            </div>


            <a id="cartLink" class="modalcart" th:href="@{/cart}">
                <img blc:src="@{/img/shopping_cart.png}" alt="Shopping Cart Icon" />
                &nbsp; 
                <span id="headerCartItemWordSingular_i18n" style="display: none;" th:utext="#{home.item}" />
                <span id="headerCartItemWordPlural_i18n" style="display: none;" th:utext="#{home.items}" />
                <span class="headerCartItemsCount" th:utext="${cart.itemCount}" />
                <span class="headerCartItemsCountWord" th:utext="${cart.itemCount == 1} ? #{home.item} :  #{home.items}" />
            </a>

        </div>

        <div id="languages">
            <span id="selectedLocale" th:utext="${session.blLocale.localeCode}" style="display: none" />

            <a href="javascript:;" onclick="BLC.addUrlParam(document.location.search, 'blLocaleCode', 'en_US')">
                <img id="en_US" src="img/flags/United-States.png" blc:src="@{/img/flags/United-States.png}" alt="United States" title="English" />
            </a>

            <a href="javascript:;" onclick="BLC.addUrlParam(document.location.search, 'blLocaleCode', 'en_GB')">
                <img id="en_GB" src="img/flags/United-Kingdom.png" blc:src="@{/img/flags/United-Kingdom.png}" alt="United Kingdom" title="English (UK)"/>
            </a>

            <a  href="javascript:;" onclick="BLC.addUrlParam(document.location.search, 'blLocaleCode', 'es_MX')">
                <img id="es_MX" src="img/flags/Mexico.png" blc:src="@{/img/flags/Mexico.png}" alt="Mexico" title="Spanish (Mexico)"/>
            </a>

            <a href="javascript:;" onclick="BLC.addUrlParam(document.location.search, 'blLocaleCode', 'es_ES')">
                <img id="es_ES" src="img/flags/Mexico.png" blc:src="@{/img/flags/Spain.png}" alt="Spain" title="Spanish (Spain)"/>
            </a>
            <a href="javascript:;" onclick="BLC.addUrlParam(document.location.search, 'blLocaleCode', 'fr_FR')">
                <img id="fr_FR" src="img/flags/Mexico.png" blc:src="@{/img/flags/France.png}" alt="France" title="French (France)" />
            </a>

        </div>

        <div id="logo"><h1><a th:href="@{/}">The Heat Clinic Home</a></h1></div>
        
        <div id="search">
            <blc:form th:action="@{/search}" method="GET">
            <input type="search" class="search" name="q" th:value="${originalQuery}" />
            <input type="submit" id="search_button" value="go" />
            </blc:form>
        </div>
    </div>
</header>