<header>
    <div id="header_content_fixed">
        <div id="header_content_checkout">

            <div id="checkout_info">

                <table class="checkout_info_left" id="checkout_total_table" cellspacing="10">
                    <tr>
                        <th>Subtotal</th>
                        <th>Promotions</th>
                        <th>Taxes</th>
                        <th>Shipping</th>
                    </tr>
                    <tr>
                        <td blc:price="${cart.subTotal}"></td>
                        <td class="discount" th:if="${cart.orderAdjustmentsValue.zero}">---</td>
                        <td class="discount" th:unless="*{cart.orderAdjustmentsValue.zero}" blc:price="${cart.orderAdjustmentsValue}"></td>
                        <td blc:price="${cart.totalTax}"></td>
                        <td blc:price="${cart.totalShipping}"></td>
                    </tr>
                </table>

                <div class="checkout_info_left">

                </div>

                <div class="checkout_info_right">
                    <h3>Current Total</h3>
                    <div id="checkout_total" blc:price="${cart.total}"></div>
                </div>

                <div class="clearfix"></div>
            </div>

            <div id="logo"><h1><a th:href="@{/}">The Heat Clinic Home</a></h1></div>
        </div>
    </div>
</header>