    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title th:unless="${pageTitle == 'TEMPLATE'}" th:text="${#strings.isEmpty(pageTitle) ? 'Broadleaf Demo - Heat Clinic' : pageTitle}"></title>
    
    <title th:if="${pageTitle == 'TEMPLATE'}" th:remove="tag">
        <title th:inline="text" th:include="${templateName} :: title" />
    </title>
    
    <meta name="description" content="Broadleaf Demo Store" />
    <meta name="author" content="Broadleaf Commerce" />

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />   
    <meta name="viewport" content="width=device-width" />
    
    <blc:bundle name="style.css" 
                mapping-prefix="/css/"
                files="style.css,
                       jquery.rating.css" />
    
    <link rel="stylesheet" th:unless="${#strings.isEmpty(additionalCss)}" />
    

    <script blc:src="@{/js/libs/modernizr-2.5.3.min.js}"></script>
    
    <blc:google_universal_analytics ordernumber="${order?.orderNumber}" />
