<nav>
    <div th:remove="all">
        <!--
             This template displays the navigation of the site by looking up the menu named "headerNav"
             and building a list of the categories sub-categories menu items.
        -->
    </div>
    <blc:menu resultVar="headerNav" menuName="Header Nav" />
    <ul th:if="${headerNav}">
        <li th:each="menuItem : ${headerNav.menuItems}">

            <a th:href="@{${menuItem.url}}" th:class="${menuItemStat.first}? 'home'">
                <span th:text="${menuItem.label}"></span>
            </a>
            <ul th:if="${#menu.hasSubmenuItems(menuItem)}" class="sub-menu">
                <li th:each="submenuItem : ${#menu.constructSubmenu(menuItem)}">
                    <a th:href="@{${submenuItem.url}}" th:text="${submenuItem.label}"></a>
                </li>
            </ul>

        </li>
    </ul>
</nav>