<div>
    <footer th:fragment="modules">
        Copyright 2012 by Broadleaf Commerce
        <script type="text/javascript" src="/admin/resources/js/lib/jquery-1.8.0.min.js" th:src="@{/resources/js/lib/jquery-1.8.0.min.js}"></script>
        <script type="text/javascript" src="/admin/resources/js/lib/bootstrap.min.js" th:src="@{/resources/js/lib/bootstrap.min.js}"></script>
        <script type="text/javascript" src="/admin/resources/js/admin.js" th:src="@{/resources/js/admin.js}"></script>
        <script type="text/javascript" th:src="@{/com.mycompany.gwt.mycompanyAdmin/com.mycompany.gwt.mycompanyAdmin.nocache.js}"></script>
    </footer>
    <footer th:fragment="login">
        <script type="text/javascript" th:src="@{/resources/js/lib/jquery-1.8.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/resources/js/security.js}"></script>
    </footer>
</div>