<div id="modules" class="sidebar-nav">
    <ul class="nav">
        <li class="nav-header">
            <a href="#" data-toggle="collapse" data-target="#catalog-merchandising"><i class="icon-barcode icon-white"></i> Catalog<i class="icon-chevron-down pull-right"></i></a>
        </li>
        <li>
            <ul id="catalog-merchandising" class="module nav nav-list collapse in">
                <li><a th:href="@{/modules} + '#moduleKey=BLCCategoryModule&amp;pageKey=category'">Category</a></li>
                <li><a th:href="@{/modules} + '#moduleKey=BLCProductModule&amp;pageKey=product'">Product</a></li>
                <li><a th:href="@{/modules} + '#moduleKey=BLCProductOptionModule&amp;pageKey=productOption'" >Product Options</a></li>
                <li><a th:href="@{/modules} + '#moduleKey=BLCPromotionModule&amp;pageKey=offer'">Promotion</a></li>
            </ul>
        </li>
        <li class="nav-header">
            <a href="#" data-toggle="collapse" data-target="#content-management"><i class="icon-file icon-white"></i> Content Management<i class="icon-chevron-down pull-right"></i></a>
        </li>
        <li>
            <ul id="content-management" class="module nav nav-list collapse in">
                <li><a th:href="@{/modules} + '#moduleKey=BLCPagesModule&amp;pageKey=pages'">Pages</a></li>
                <li><a th:href="@{/modules} + '#moduleKey=BLCAssetsModule&amp;pageKey=assets'">Assets</a></li>
                <li><a th:href="@{/modules} + '#BLCStructuredContentModule&amp;pageKey=structuredContent'">Structured Content</a></li>
                <li><a th:href="@{/modules} + '#moduleKey=BLCRedirectUrlModule&amp;pageKey=urlRedirect'">Redirect URL</a></li>
            </ul>
        </li>
        <li class="nav-header">
            <a href="#" data-toggle="collapse" data-target="#customer-care"><i class="icon-heart icon-white"></i> Customer Care<i class="icon-chevron-down pull-right"></i></a>
        </li>
        <li>
            <ul id="customer-care" class="module nav nav-list collapse in">
                <li><a th:href="@{/modules} + '#moduleKey=BLCCustomerCare&amp;pageKey=Order'">Order</a></li>
                <li><a th:href="@{/modules} + '#moduleKey=BLCCustomerCare&amp;pageKey=Customer'">Customer</a></li>
            </ul>
        </li>
        <li class="nav-header">
            <a href="#" data-toggle="collapse" data-target="#user-administration"><i class="icon-user icon-white"></i> User Administration<i class="icon-chevron-down pull-right"></i></a>
        </li>
        <li>
            <ul id="user-administration" class="module nav nav-list collapse in">
                <li><a th:href="@{/modules} + '#moduleKey=BLCOpenAdmin&amp;pageKey=User Management'">User Management</a></li>
                <li><a th:href="@{/modules} + '#moduleKey=BLCOpenAdmin&amp;pageKey=Role Management'">Role Management</a></li>
                <li><a th:href="@{/modules} + '#moduleKey=BLCOpenAdmin&amp;pageKey=Permission Management'">Permission Management</a></li>
            </ul>
        </li>
    </ul>
</div>