<div id="modules" class="sidebar-nav">
    <ul class="nav">
        <li class="nav-header">
            <a href="#" data-toggle="collapse" data-target="#catalog-merchandising"><i class="icon-barcode icon-white"></i> Catalog<i class="icon-chevron-down pull-right"></i></a>
        </li>
        <li>
            <ul id="catalog-merchandising" class="module nav nav-list collapse in">
                <li><a th:href="@{/admin/blcadmin/catalog/category#moduleKey=BLCCategoryModule&pageKey=category}">Category</a></li>
                <li><a th:href="@{/admin/blcadmin/catalog/product#moduleKey=BLCProductModule&pageKey=product}">Product</a></li>
                <li><a th:href="@{/admin/blcadmin/catalog/productOption#moduleKey=BLCProductOptionModule&pageKey=productOption}" >Product Options</a></li>
                <li><a th:href="@{/admin/blcadmin/catalog/promotion#moduleKey=BLCPromotionModule&pageKey=offer}">Promotion</a></li>
            </ul>
        </li>
        <li class="nav-header">
            <a href="#" data-toggle="collapse" data-target="#content-management"><i class="icon-file icon-white"></i> Content Management<i class="icon-chevron-down pull-right"></i></a>
        </li>
        <li>
            <ul id="content-management" class="module nav nav-list collapse in">
                <li><a th:href="@{/admin/blcadmin/cms/pages#moduleKey=BLCPagesModule&pageKey=pages}">Pages</a></li>
                <li><a th:href="@{/admin/blcadmin/cms/assets#moduleKey=BLCAssetsModule&pageKey=assets}">Assets</a></li>
                <li><a th:href="@{/admin/blcadmin/cms/structuredContent#moduleKey=BLCStructuredContentModule&pageKey=structuredContent}">Structured Content</a></li>
                <li><a th:href="@{/admin/blcadmin/cms/redirectUrl#moduleKey=BLCRedirectUrlModule&pageKey=urlRedirect}">Redirect URL</a></li>
            </ul>
        </li>
        <li class="nav-header">
            <a href="#" data-toggle="collapse" data-target="#customer-care"><i class="icon-heart icon-white"></i> Customer Care<i class="icon-chevron-down pull-right"></i></a>
        </li>
        <li>
            <ul id="customer-care" class="module nav nav-list collapse in">
                <li><a href="#moduleKey=BLCCustomerCare&pageKey=Order">Order</a></li>
                <li><a href="#moduleKey=BLCCustomerCare&pageKey=Customer">Customer</a></li>
            </ul>
        </li>
        <li class="nav-header">
            <a href="#" data-toggle="collapse" data-target="#user-administration"><i class="icon-user icon-white"></i> User Administration<i class="icon-chevron-down pull-right"></i></a>
        </li>
        <li>
            <ul id="user-administration" class="module nav nav-list collapse in">
                <li><a href="#moduleKey=BLCOpenAdmin&pageKey=User Management">User Management</a></li>
                <li><a href="#moduleKey=BLCOpenAdmin&pageKey=Role Management">Role Management</a></li>
                <li><a href="#moduleKey=BLCOpenAdmin&pageKey=Permission Management">Permission Management</a></li>
            </ul>
        </li>
    </ul>
</div>