<div id="modules" class="sidebar-nav">

    <blc:admin_module resultVar="modules" />

    <ul class="nav">
        <li th:each="module : ${modules}" th:inline="text">
            <a class="module-header" href="#" data-toggle="collapse"><i class="icon-white" th:classappend="${module.icon}"></i>[[${module.name}]]<i class="icon-chevron-down pull-right"></i></a>
            <ul th:each="section : ${module.sections}" class="module nav nav-list collapse in">
                <li>
                    <a th:href="@{/modules} + '#moduleKey=' + ${module.moduleKey} + '&amp;pageKey=' + ${section.sectionKey}">[[${section.name}]]</a>
                </li>
            </ul>
        </li>
    </ul>

</div>