<h2><span th:text="#{cart.accountCredit.accounts}">Accounts</span></h2>

<ul id="account-credit" th:inline="text" class="clearfix">
    <li>
        <span class="account-number">Account Number</span>
        <span class="balance">Balance</span>
    </li>
</ul>
<br/><br/>
<blc:form th:object="${creditInfoForm}" th:inline="text" th:action="@{/account/credit/apply}" method="post" id="applyCredit_form">
    <ul th:inline="text">
        <li th:each="account : ${accounts}" th:unless="${account.balance.amount == 0}">
            <input type="checkbox" th:value="${account.accountNumber}" th:field="*{accountNumbers}" />
            <label th:for="${#ids.prev('accountNumbers')}">
                <span th:text="${account.accountNumber}"></span>
                <span class="balance" blc:price="${account.balance}"></span>
            </label>
        </li>
    </ul>
    <div>
        <input type="submit" class="medium red apply" th:value="#{cart.giftCard.apply}" />
    </div>
</blc:form>