<blc:form th:object="${billingInfoForm}"
          th:action="@{/checkout/billing}"
          method="post" id="billing_info"
          th:if="${validOrderInfo and validShipping}">

    <div id="billing_info_form" >

        <input type="hidden" name="address.country" value="US" />

        <div class="form100" th:unless="${cart.fulfillmentGroups != null and numShippableFulfillmentGroups > 1}">
            <input id="use_shipping_address" type="checkbox" th:field="*{useShippingAddress}" th:disabled="${!validShipping}" /> <span th:text="#{cart.useShppingInfo}">Use Shipping Information</span>
        </div>

        <div class="form30">
            <label for="firstName"><span th:text="#{cart.firstName}">First Name</span></label>
            <span class="error" th:if="${#fields.hasErrors('address.firstName')}" th:errors="*{address.firstName}"></span>
            <input type="text" th:field="*{address.firstName}" class="field30 required clearable" th:classappend="${#fields.hasErrors('address.firstName')}? 'fieldError'" th:disabled="${!validShipping}" />
        </div>

        <div class="form30 margin20">
            <label for="lastName"><span th:text="#{cart.lastName}">Last Name</span></label>
            <span class="error" th:if="${#fields.hasErrors('address.lastName')}" th:errors="*{address.lastName}"></span>
            <input type="text" th:field="*{address.lastName}" class="field30 required clearable" th:classappend="${#fields.hasErrors('address.lastName')}? 'fieldError'" th:disabled="${!validShipping}" />
        </div>

        <div class="form30 margin20">
            <label for="phone"><span th:text="#{cart.phone}">Phone</span></label>
            <span class="error_spacer" th:if="${#fields.hasErrors('address.firstName') or #fields.hasErrors('address.lastName')}">error</span>
           <input type="tel" id="address.phonePrimary" name="address.phonePrimary" th:if="*{address.phonePrimary!=null}" th:value="*{address.phonePrimary.phoneNumber}" class="field30 clearable" />
            <input type="tel" id="address.phonePrimary" name="address.phonePrimary" th:if="*{address.phonePrimary==null}" class="field30 clearable" />
        </div>

        <div class="clearfix"></div>

        <div class="form50">
            <label for="address1"><span th:text="#{cart.address}">Address</span></label>
            <span class="error" th:if="${#fields.hasErrors('address.addressLine1')}" th:errors="*{address.addressLine1}"></span>
            <input type="text" th:field="*{address.addressLine1}" class="field50 required clearable" th:classappend="${#fields.hasErrors('address.addressLine1')}? 'fieldError'" th:disabled="${!validShipping}" />
        </div>

        <div class="form50 margin20">
            <label for="address2"><span th:text="#{cart.address2}">Address 2</span></label>
            <span class="error_spacer" th:if="${#fields.hasErrors('address.addressLine1')}">error</span>
            <input type="text" th:field="*{address.addressLine2}" class="field50 clearable" th:disabled="${!validShipping}" />
        </div>

        <div class="clearfix"></div>

        <div class="form30">
            <label for="city"><span th:text="#{cart.cityState}">City / State</span></label>
            <span class="error" th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}"></span>
            <br th:if="${#fields.hasErrors('address.city')} and ${#fields.hasErrors('address.state')}"/>
            <span class="error" th:if="${#fields.hasErrors('address.state')}" th:errors="*{address.state}"></span>
            <input type="text" th:field="*{address.city}" class="field25 required clearable" th:classappend="${#fields.hasErrors('address.city')}? 'fieldError'" th:disabled="${!validShipping}" />

            <select id="state" th:field="*{address.state}" size="1" style="width: 48px;" class="required clearable" th:classappend="${#fields.hasErrors('address.state')}? 'fieldError'" th:disabled="${!validShipping}">
                <option value="">--</option>
                <option th:each="state : ${states}" th:value="${state.abbreviation}" th:text="${state.abbreviation}"></option>
            </select>
        </div>

        <div class="form25 margin20">
            <label for="postal_code"><span th:text="#{cart.postalCode}">Postal Code</span></label>
            <span class="error" th:if="${#fields.hasErrors('address.postalCode')}" th:errors="*{address.postalCode}"></span>
            <input type="text" th:field="*{address.postalCode}" class="field25 clearable" th:classappend="${#fields.hasErrors('address.postalCode')}? 'fieldError'" th:disabled="${!validShipping}" />
        </div>

        <div style="float:right;">
            <input type="submit" class="medium" value="Save Billing" th:disabled="${!validShipping}" th:classappend="${validShipping}? 'red' : 'gray'"/>
        </div>

    </div>
</blc:form>