<div id="multiship-add-address">	
	<div class="multishipContainer">
		<div id="addAddressContainer">
			<div id="addAddressTitle">Add a new address</div>
			<div id="addAddress">
				<form th:action="@{/checkout/add-address}" method="post" id="shipping_address">
					<input type="hidden" name="address.country" value="US" />
					
					<div class="form30">
						<label for="firstName">First Name</label> 
						<input type="text" class="field30 required" name="address.firstName" />
					</div>
					<div class="form30 margin20">
						<label for="lastName">Last Name</label> 
						<input type="text" class="field30 required" name="address.lastName" />
					</div>
		
					<div class="form66">
						<label for="address1">Address</label> 
						<input type="text" class="field66 required" name="address.addressLine1" />
					</div>
					<div class="form66">
						<label for="address2">Address 2</label> 
						<input type="text" class="field66" name="address.addressLine2" />
					</div>
		
					<div class="form30">
						<label for="city">City / State</label> 
						<input type="text" class="field25 required" name="address.city" /> 
						
						<select id="state" name="address.state" size="1" style="width: 48px;" class="required">
							<option value="">--</option>
							<option th:each="state : ${states}" th:object="${state}" th:value="*{abbreviation}" th:text="*{abbreviation}"></option>
						</select>
					</div>
					
					<div class="form30 margin20">
						<label for="postal_code">Postal Code</label> 
						<input type="text" class="field30" name="address.postalCode" />
					</div>
					
					<input type="submit" class="save medium red" value="Save" />
					<a th:href="@{/checkout/multiship}" class="cancel small-button gray-button" style="margin-top: 16px;">Cancel</a>
				</form>
			</div>
		</div>
	</div>
</div>