<div th:fragment="order-summary">
    <div class="cart_title">
        <span th:text="#{cart.orderSummary}">Order Summary</span>
        <a id="cartLink" class="modalcart refreshonclose" th:href="@{/cart}">
            <span th:text="#{cart.edit}">Edit</span>
        </a>
    </div>
    <table id="cart_summary" class="order_summary">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th align="left"><span th:text="#{cart.item}">Item</span></th>
            <th><span th:text="#{cart.quantity}">Quantity</span></th>
            <th> <span th:text="#{cart.price}">Price</span></th>
            <th> <span th:text="#{cart.totalSavings}">Total Savings</span></th>
            <th><span th:text="#{cart.total}">Total</span></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${cart.orderItems}" th:object="${item}" th:id="${'productRow' + item.id}">
            <td><img th:if="*{product.media['primary']}" blc:src="@{*{product.media['primary'].url} + '?thumbnail'}" width="60" th:alt="*{product.name}" /></td>
            <td align="left">
                <a th:href="@{*{product.url}}" th:text="*{product.name}"></a>
                <br/>
                <blc:product_option_display orderItem="${item}" >
                    <ul th:unless="${#lists.isEmpty(productOptionDisplayValues)}" class="productOptions">
                        <li th:each="entry: ${productOptionDisplayValues}">
                            <span  th:text="${entry.key} + ': ' + ${entry.value}"></span>
                        </li>
                    </ul>
                </blc:product_option_display>
                <ul th:if="${item instanceof T(org.broadleafcommerce.core.order.domain.BundleOrderItem)}">
                    <li th:each="doi : *{discreteOrderItems}" th:text="${doi.quantity + ' x ' + doi.name}" />
                </ul>
            </td>
            <td align="center" th:text="*{quantity}"></td>
            <td align="center" blc:price="*{price}"></td>
            <td align="center" th:if="*{adjustmentValue.zero}">---</td>

            <td align="center" class="discount" th:unless="*{adjustmentValue.zero}" >
                <span  align="center"  blc:price="*{totalAdjustmentValue}" class="promotion" ></span>
                <div class="productOptions" th:substituteby="catalog/partials/offers :: offers"/>

            </td>
            <td align="center" class="value" blc:price="*{totalPrice}"></td>
        </tr>
        </tbody>
    </table>
</div>