<div th:fragment="payment-info-form">

    <div class="cart_title">
        <span th:text="#{cart.payment.options}">Payment Options</span>
    </div>

    <div class="clearfix"></div>

    <div class="checkout_warning"
         th:if="${paymentInfoViewState == T(org.broadleafcommerce.core.web.processor.OnePageCheckoutProcessor$ViewState).SHOW_HELP_VIEW}">
        <span th:text="#{cart.fillOutShippingAddress}">Please fill out a shipping address and pick a shipping method to complete purchase</span>
    </div>

    <div th:if="${paymentInfoViewState == T(org.broadleafcommerce.core.web.processor.OnePageCheckoutProcessor$ViewState).SHOW_FORM_VIEW}"
         id="payment_info_form">

        <div th:replace="checkout/partials/accountCreditForm :: account-credit-form"></div>

        <div th:replace="checkout/partials/paymentMethodForm :: payment-method-form"></div>

        <div class="clearfix"></div>

    </div>

</div>