<div th:fragment="payment-method-form">
    <head>
        <script src="https://secure.vindicia.com/ws/vindicia.js"></script>
    </head>
    <div class="payment_info"
         th:unless="${showAllPaymentMethods}">
        <h3><span th:utext="#{cart.paymentMethod}">Payment Method</span></h3>

        <ul th:if="${orderContainsThirdPartyPayment}" class="payment_methods">
            <li><img blc:src="@{/img/payment/paypal-curved-32px.png}"/></li>
        </ul>

        <ul th:if="${orderContainsUnconfirmedCreditCard}" class="payment_methods">
            <li><img src="https://www.mastercard.com/mc_us/wallet/img/en/US/mp_mc_acc_034px_gif.gif"/></li>
            <div th:if="${unconfirmedCC.initialTransaction != null}">
                <div th:if="!${#strings.isEmpty(unconfirmedCC.initialTransaction.additionalFields['CARD_TYPE'])}">
                    <b th:utext="${unconfirmedCC.initialTransaction.additionalFields['CARD_TYPE']}"></b>
<br/>
                    <span th:utext="${unconfirmedCC.initialTransaction.additionalFields['NAME_ON_CARD']}"></span><br/>
                    ****<span th:utext="${unconfirmedCC.initialTransaction.additionalFields['LAST_FOUR']}"></span>
<br/>
                    <span th:utext="#{confirmation.exp}">exp.</span> <span th:utext="${unconfirmedCC.initialTransaction.additionalFields['EXP_DATE']}"></span>
                </div>
            </div>
        </ul>


        <div class="form100">
            <blc:form th:action="@{/checkout/complete}"
                      method="POST" id="complete_checkout"
                      novalidate="novalidate">
                <input type="submit" class="medium red" th:value="#{cart.completOrder}" />
            </blc:form>
        </div>

    </div>

    <div class="payment_info"
            th:if="${showAllPaymentMethods}">
        <h3><span th:utext="#{cart.paymentMethod}">Payment Method</span></h3>

        <ul class="payment_methods">
            <li><img blc:src="@{/img/payment/american-express-curved-32px.png}"/></li>
            <li><img blc:src="@{/img/payment/mastercard-curved-32px.png}"/></li>
            <li><img blc:src="@{/img/payment/visa-curved-32px.png}"/></li>
            <li><img blc:src="@{/img/payment/discover-curved-32px.png}"/></li>
            <li><img blc:src="@{/img/payment/paypal-curved-32px.png}"/></li>
        </ul>

        <dl id="paymentOptions">
            <dt>
                <input type="radio" name="paymentMethod" value="credit_card" id="paymentMethod_cc" />
                <label for="paymentMethod_cc"><span th:utext="#{cart.creditCard}">Credit Card</span></label>
            </dt>
            <dd>
                <div>
                    <form id="complete_checkout" name="complete_checkout" action="https://secure.prodtest.sj.vindicia.com/vws"
                        method="post" novalidate="novalidate">
                        <input type="hidden" name="vin_WebSession_version" value="20.0.0" />
                        <input type="hidden" name="vin_WebSession_vid" th:value="${#vindicia.initializeWebSession(#request.getRemoteAddr(),customer.customerAttributes.get('VINDICIA_ACCOUNT').getValue(),'Transaction_Auth')}" />
                        <input type="hidden" name="vin_PaymentMethod_type" value="CreditCard" />
                        <input type="hidden" name="vin_Account_merchantAccountId" th:value="${customer.customerAttributes.get('VINDICIA_ACCOUNT').getValue()}" />
                        <div th:object="${billingInfoForm}">
                            <input type="hidden" name="vin_PaymentMethod_billingAddress_addr1" th:value="*{address.addressLine1}" />
                            <input type="hidden" name="vin_PaymentMethod_billingAddress_addr2" th:value="*{address.addressLine2}" />
                            <input type="hidden" name="vin_PaymentMethod_billingAddress_city" th:value="*{address.city}" />
                            <input type="hidden" name="vin_PaymentMethod_billingAddress_country" th:value="USA" />
                            <input type="hidden" name="vin_PaymentMethod_billingAddress_district" th:value="*{address.stateProvinceRegion}" />
                            <input type="hidden" name="vin_PaymentMethod_billingAddress_name" th:value="*{address.firstName + ' ' + address.lastName}" />
                            <input type="hidden" name="vin_PaymentMethod_billingAddress_phone" th:value="*{address.phonePrimary.phoneNumber}" />
                            <input type="hidden" name="vin_PaymentMethod_billingAddress_postalCode" th:value="*{address.postalCode}" />
                            <input type="hidden" name="vin_PaymentMethod_accountHolderName" th:value="*{address.firstName + ' ' + address.lastName}" />
                        </div>
                        <input type="hidden" name="vin_order_id" th:value="${cart.getId()}" />
                        <input type="hidden" name="vin_Transaction_amount" th:value="${cart.getTotal().doubleValue()}" />
                        <div th:object="${shippingInfoForm}">
                            <input type="hidden" name="vin_Transaction_shippingAddress_addr1" th:value="*{address.addressLine1}" />
                            <input type="hidden" name="vin_Transaction_shippingAddress_addr2" th:value="*{address.addressLine2}" />
                            <input type="hidden" name="vin_Transaction_shippingAddress_city" th:value="*{address.city}" />
                            <input type="hidden" name="vin_Transaction_shippingAddress_country" th:value="USA" />
                            <input type="hidden" name="vin_Transaction_shippingAddress_district" th:value="*{address.stateProvinceRegion}" />
                            <input type="hidden" name="vin_Transaction_shippingAddress_name" th:value="*{address.firstName + ' ' + address.lastName}" />
                            <input type="hidden" name="vin_Transaction_shippingAddress_phone" th:value="*{address.phonePrimary.phoneNumber}" />
                            <input type="hidden" name="vin_Transaction_shippingAddress_postalCode" th:value="*{address.postalCode}" />
                        </div>
                        <div th:each="item, iterStat: ${cart.orderItems}" th:object="${item}">
                            <input type="hidden" th:name="'vin_Transaction_transactionItem_' + ${iterStat.count} + '_transactionItem_name'" th:value="*{sku.name}" />
                            <input type="hidden" th:name="'vin_Transaction_transactionItem_' + ${iterStat.count} + '_transactionItem_price'" th:value="*{quantity}" />
                            <input type="hidden" th:name="'vin_Transaction_transactionItem_' + ${iterStat.count} + '_transactionItem_quantity'" th:value="*{getPriceBeforeAdjustments(true).doubleValue()}" />
                        </div>
                        <div id="vin_PaymentMethod_creditCard_account"></div>
                        <div id="vin_PaymentMethod_creditCard_expirationDate"></div>
                        <div id="vin_PaymentMethod_creditCard_cvn"></div>
                        <input type="submit" class="medium red" value="Checkout" />
                    </form>
                    <script type="text/javascript">
                    vindicia.setup({
                        formId:"complete_checkout",
                        vindiciaServer: "secure.prodtest.sj.vindicia.com",
                        hostedFields: {
                            cardNumber: {
                                selector: "#vin_PaymentMethod_creditCard_account",
                                placeholder: "Enter Credit Card Number" // optional field
                            },
                            expirationDate: { // required field or use expirationMonth and expirationYear
                                selector: "#vin_PaymentMethod_creditCard_expirationDate",
                                placeholder: "Expiration Date MM/YY", // optional field
                                format: "MM/YY" // optional, default is MM/YY
                            },
                            cvn: {
                                selector: "#vin_PaymentMethod_creditCard_cvn",
                                placeholder: "Enter CVV" // optional field
                            },
                            styles: { // optional
                                "input": {
                                    "width": "100%",
                                    "font-family": "'Helvetica Neue',Helvetica,Arial,sans-serif",
                                    "font-size": "14px",
                                    "color": "#555",
                                    "height": "34px",
                                    "padding": "6px 12px",
                                    "margin": "5px 0px",
                                    "line-height": "1.42857",
                                    "border": "1px solid #ccc",
                                    "border-radius": "4px",
                                    "box-shadow": "0px 1px 1px rgba(0,0,0,0.075) inset",
                                    "-webkit-transition": "border-color 0.15s ease-in-out 0s, boxshadow 0.15s ease-in-out 0s",
                                    "transition": "border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s",
                                },
                                "select": {
                                    "width": "100%",
                                    "font-family": "'Helvetica Neue',Helvetica,Arial,sans-serif",
                                    "font-size": "14px",
                                    "color": "#555",
                                    "height": "34px",
                                    "padding": "6px 12px",
                                    "margin": "5px 0px",
                                    "line-height": "1.42857",
                                    "border": "1px solid #ccc",
                                    "border-radius": "4px",
                                    "box-shadow": "0px 1px 1px rgba(0,0,0,0.075) inset",
                                    "-webkit-transition": "border-color 0.15s ease-in-out 0s, boxshadow 0.15s ease-in-out 0s",
                                    "transition": "border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s",
                                },
                                ":focus": { // optional
                                    "border-color": "#66afe9",
                                    "outline": "0",
                                    "-webkit-box-shadow": "inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6)",
                                    "box-shadow": "inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6)"
                                },
                                ".valid": { // optional
                                    "border-color": "#228B22",
                                },
                                ".notValid": { // optional
                                    "border-color": "#ff0000",
                                }, 
                                    // custom width
                                "@media (min-width: 600px) and (max-width: 800px)": {
                                    "input": {
                                        "font-size": "16pt"
                                    }
                                }
                            },
                        },
                        iframeHeightPadding: 2 //optional
                    });
                    </script>
                </div>
            </dd>
            <dt>
                <input type="radio" name="paymentMethod" value="paypal" id="paymentMethod_paypal" />
                <label for="paymentMethod_paypal"><span th:utext="#{cart.payPal}">PayPal</span></label>
            </dt>
            <dd>
                <div id="paypalfields">
                    <div class="form100">
                        <img blc:src="@{/img/paypal.gif}" alt="Pay with Paypal" width="100" />
                    </div>
                </div>
            </dd>
            <dt>
                <input type="radio" name="paymentMethod" value="cod" id="paymentMethod_cod" />
                <label for="paymentMethod_cod"><span th:utext="#{cart.collectOnDelivery}">Collect On Delivery</span></label>
            </dt>
            <dd>
                <div>
                    <blc:form th:action="@{/checkout/cod/complete}"
                              method="POST" id="complete_checkout"
                              novalidate="novalidate">
                        <input type="submit" class="medium red" th:value="#{cart.completOrder}" />
                    </blc:form>
                </div>
            </dd>
        </dl>

    </div>

</div>