<div th:fragment="payment-method-form">

    <div class="payment_info"
         th:unless="${showAllPaymentMethods}">
        <h3><span th:utext="#{cart.paymentMethod}">Payment Method</span></h3>

        <ul th:if="${orderContainsThirdPartyPayment}" class="payment_methods">
            <li><img blc:src="@{/img/payment/paypal-curved-32px.png}"/></li>
        </ul>

        <ul th:if="${orderContainsUnconfirmedCreditCard}" class="payment_methods">
            <li><img src="https://www.mastercard.com/mc_us/wallet/img/en/US/mp_mc_acc_034px_gif.gif"/></li>
            <div th:if="${unconfirmedCC.initialTransaction != null}">
                <div th:if="!${#strings.isEmpty(unconfirmedCC.initialTransaction.additionalFields['CARD_TYPE'])}">
                    <b th:utext="${unconfirmedCC.initialTransaction.additionalFields['CARD_TYPE']}"/><br/>
                    <span th:utext="${unconfirmedCC.initialTransaction.additionalFields['NAME_ON_CARD']}"></span><br/>
                    ****<span th:utext="${unconfirmedCC.initialTransaction.additionalFields['LAST_FOUR']}"/><br/>
                    <span th:utext="#{confirmation.exp}">exp.</span> <span th:utext="${unconfirmedCC.initialTransaction.additionalFields['EXP_DATE']}"/>
                </div>
            </div>
        </ul>


        <div class="form100">
            <blc:form th:action="@{/checkout/complete}"
                      method="POST" id="complete_checkout"
                      novalidate="novalidate">
                <input type="submit" class="medium red" th:value="#{cart.completOrder}" />
            </blc:form>
        </div>

    </div>

    <div class="payment_info"
            th:if="${showAllPaymentMethods}">
        <h3><span th:utext="#{cart.paymentMethod}">Payment Method</span></h3>

        <ul class="payment_methods">
            <li><img blc:src="@{/img/payment/american-express-curved-32px.png}"/></li>
            <li><img blc:src="@{/img/payment/mastercard-curved-32px.png}"/></li>
            <li><img blc:src="@{/img/payment/visa-curved-32px.png}"/></li>
            <li><img blc:src="@{/img/payment/discover-curved-32px.png}"/></li>
            <li><img blc:src="@{/img/payment/paypal-curved-32px.png}"/></li>
        </ul>

        <dl id="paymentOptions">
            <dt>
                <input type="radio" name="paymentMethod" value="credit_card" id="paymentMethod_cc" />
                <label for="paymentMethod_cc"><span th:utext="#{cart.creditCard}">Credit Card</span></label>
            </dt>
            <dd>
                <blc:transparent_credit_card_form paymentRequestDTO="${paymentRequestDTO}"
                                                  action="#"
                                                  role="form"
                                                  method="POST">
                    <div id="creditCardFields">

                        <div class="form50">
                            <label for="cardNumber" class="prompt">
                                <span th:utext="#{cart.cardNumber}">Card Number</span>
                            </label>
                            <div class="element form100">
                                <input type="text"
                                       th:name="${#paymentGatewayField.mapName('creditCard.creditCardNum')}"
                                       value=""
                                       id="cardNumber"
                                       class="field35"
                                       autocomplete="off"/>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="form50">
                            <label class="prompt">
                                <span th:utext="#{cart.cvv}">CVV</span>
                            </label>
                            <div class="element form100">
                                <input type="text"
                                       th:name="${#paymentGatewayField.mapName('creditCard.creditCardCvv')}"
                                       id="securityCode"
                                       class="field25"
                                       autocomplete="off"/>
                            </div>
                        </div>

                        <div class="clearfix"></div>


                        <blc:credit_card_types>
                            <div th:if="${paymentGatewayCardTypes != null}" class="form50">
                                <label for="cardType" class="prompt">
                                    <span th:utext="#{cart.cardType}">Card Type</span>
                                </label>
                                <div class="form100">
                                    <select id="cardType" th:name="${#paymentGatewayField.mapName('creditCard.creditCardType')}">
                                        <option th:each="entry : ${paymentGatewayCardTypes}" th:value="${entry.key}" th:utext="${entry.value}"></option>
                                    </select>
                                </div>
                            </div>
                        </blc:credit_card_types>

                        <div class="clearfix"></div>

                        <div class="form50">
                            <label for="nameOnCard" class="prompt">
                                <span th:utext="#{cart.nameOnCard}">Name on the Card</span>
                            </label>
                            <div class="form100">
                                <input type="text"
                                       th:name="${#paymentGatewayField.mapName('creditCard.creditCardHolderName')}"
                                       id="nameOnCard"
                                       class="field35"  />
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="form25">
                            <label for="cardExpDate" class="prompt">
                                <span th:utext="#{cart.experationDate}">Expiration Date</span>
                            </label>
                            <div class="element form100">
                                <input type="text"
                                       th:name="${#paymentGatewayField.mapName('creditCard.creditCardExpDate')}"
                                       id="cardExpDate"
                                       class="field25"
                                       autocomplete="off"
                                       placeholder="MM/YY"/>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <input type="submit" class="medium red" value="Checkout" />

                </blc:transparent_credit_card_form>

            </dd>
            <dt>
                <input type="radio" name="paymentMethod" value="paypal" id="paymentMethod_paypal" />
                <label for="paymentMethod_paypal"><span th:utext="#{cart.payPal}">PayPal</span></label>
            </dt>
            <dd>
                <div id="paypalfields">
                    <div class="form100">
                        <img blc:src="@{/img/paypal.gif}" alt="Pay with Paypal" width="100" />
                    </div>
                </div>
            </dd>
            <dt>
                <input type="radio" name="paymentMethod" value="cod" id="paymentMethod_cod" />
                <label for="paymentMethod_cod"><span th:utext="#{cart.collectOnDelivery}">Collect On Delivery</span></label>
            </dt>
            <dd>
                <div>
                    <blc:form th:action="@{/checkout/cod/complete}"
                              method="POST" id="complete_checkout"
                              novalidate="novalidate">
                        <input type="submit" class="medium red" th:value="#{cart.completOrder}" />
                    </blc:form>
                </div>
            </dd>
        </dl>

    </div>

</div>