<div th:fragment="promo-code-form">
    <blc:form class="manage-promo" method="POST" th:action="@{/cart/promo}">
        <div class="form50">
            <label class="prompt" for="checkoutPromo"><span th:utext="#{cart.promoCode}">Promo Code</span>:</label>
            <div class="form100">
                <input id="checkoutPromo" name="promoCode" class="field35" type="text" value="" autocomplete="off"/>
                <div th:each="promo : ${cart.addedOfferCodes}" th:object="${promo}" th:remove="tag">
                    <div class="promo"><span th:utext="*{offerCode}" th:remove="tag"/> <a class="remove_promo" th:href="@{/cart/promo/remove(offerCodeId=*{id})}"><i class="icon-remove"></i></a></div>
                </div>
                <div id="cart_promo_error" class="checkout_promo" style="display: none;"></div>
            </div>
        </div>

        <div>
            <input type="submit" id="addPromo" name="addPromo" th:value="#{cart.applyDiscount}" class="medium red apply" />
        </div>

        <div class="clearfix"></div>

    </blc:form>
</div>