<div th:fragment="shipping-info-form">

    <div class="cart_title">
        <span th:text="#{cart.shippingInformation}">Shipping Information</span>
        <a th:if="${'SAVED' == sectionDTO.state.type
                        and cart.fulfillmentGroups != null and numShippableFulfillmentGroups == 1}"
           th:href="@{/checkout(edit-shipping='true')}">
            <span th:text="#{cart.edit}">Edit</span>
        </a>
    </div>

    <div class="clearfix"></div>

    <div class="checkout_warning"
         th:if="${'INACTIVE' == sectionDTO.state.type}">
        <span th:text="${sectionDTO.helpMessage}"></span>
    </div>

    <div th:if="${cart.fulfillmentGroups != null and numShippableFulfillmentGroups > 1}">
        <table th:replace="checkout/partials/multishipInfo :: multiship-info"></table>
    </div>

    <div th:unless="${cart.fulfillmentGroups != null and numShippableFulfillmentGroups > 1}">
        <div th:replace="checkout/partials/singleShipInfo :: singleship-info"></div>
    </div>

</div>