<div th:fragment="singleship-info">

    <blc:form th:object="${shippingInfoForm}"
              th:action="@{/checkout/singleship}"
              method="post" id="shipping_info"
              novalidate="novalidate">

        <div th:if="${'SAVED' == sectionDTO.state.type and !#fields.hasErrors('*')}"
             th:inline="text" class="clearfix">

            <div class="group shipping-info-read-only">
                <h3><span th:utext="#{cart.shippingAddress}">Shipping Address</span></h3>
                <address th:if="*{address.phonePrimary !=null and address.phonePrimary.phoneNumber != null}">
                    [[*{address.firstName}]]&nbsp;[[*{address.lastName}]]<br />
                    [[*{address.addressLine1}]]<br /> [[*{address.addressLine2}]]<br th:if="!*{#strings.isEmpty(address.addressLine2)}" />
                    [[*{address.city}]],&nbsp;[[*{address.stateProvinceRegion}]]&nbsp;[[*{address.postalCode}]]<br />
                    [[*{address.phonePrimary.phoneNumber}]]
                </address>
                <address th:if="*{address.phonePrimary == null or address.phonePrimary.phoneNumber == null}">
                    [[*{address.firstName}]]&nbsp;[[*{address.lastName}]]<br />
                    [[*{address.addressLine1}]]<br /> [[*{address.addressLine2}]]<br th:if="!*{#strings.isEmpty(address.addressLine2)}" />
                    [[*{address.city}]],&nbsp;[[*{address.stateProvinceRegion}]]&nbsp;[[*{address.postalCode}]]<br />
                </address>
            </div>
            <div class="group shipping-info-read-only">
                <h3><span th:utext="#{cart.shppingMethod}">Shipping Method</span></h3>
                <b>[[*{fulfillmentOption.name}]]</b><br /> ([[*{fulfillmentOption.longDescription}]])
            </div>
        </div>

        <!--/* We still have to render the shipping form so the JavaScript can copy the fields, we will just add the class of 'hide' */-->
        <!--/* This only applies if you have the copy shipping to billing flow  */-->
        <div id="shipping_info_form"
             th:classappend="${('SAVED' == sectionDTO.state.type or 'INACTIVE' == sectionDTO.state.type)
                and !#fields.hasErrors('*')} ? 'hide'">

            <div class="left_content">
                <input type="hidden" name="address.isoCountryAlpha2" value="US" />

                <div class="form100" th:if="${showBillingInfoSection}">
                    <input id="use_billing_address" type="checkbox" th:field="*{useBillingAddress}" />
                    <span th:utext="#{cart.useBillingInfo}">Use Billing Information</span>
                </div>

                <div class="form30">
                    <label for="firstName"><span th:utext="#{cart.firstName}">First Name</span></label> <span class="error" th:if="${#fields.hasErrors('address.firstName')}" th:errors="*{address.firstName}"></span>
                    <input type="text" th:field="*{address.firstName}" class="field30 clearable" th:classappend="${#fields.hasErrors('address.firstName')}? 'fieldError'" />
                </div>
                <div class="form30 margin20">
                    <label for="lastName"><span th:utext="#{cart.lastName}">Last Name</span></label> <span class="error" th:if="${#fields.hasErrors('address.lastName')}" th:errors="*{address.lastName}"></span>
                    <input type="text" th:field="*{address.lastName}" class="field30 clearable" th:classappend="${#fields.hasErrors('address.lastName')}? 'fieldError'" />
                </div>
                <div class="form30 margin20">
                    <label for="phone"><span th:utext="#{cart.phone}">Phone</span></label>
                    <span class="error_spacer" th:if="${#fields.hasErrors('address.firstName') or #fields.hasErrors('address.lastName')}">error</span>
                    <input type="tel" id="address.phonePrimary" name="address.phonePrimary" th:if="*{address.phonePrimary != null}" th:value="*{address.phonePrimary.phoneNumber}" class="field30 clearable" />
                    <input type="tel" id="address.phonePrimary" name="address.phonePrimary" th:if="*{address.phonePrimary == null}" value="" class="field30 clearable" />
                </div>

                <div class="clearfix"></div>

                <div class="form50">
                    <label for="address1"><span th:utext="#{cart.address}">Address</span></label> <span class="error" th:if="${#fields.hasErrors('address.addressLine1')}" th:errors="*{address.addressLine1}"></span>
                    <input type="text" th:field="*{address.addressLine1}" class="field50 clearable" th:classappend="${#fields.hasErrors('address.addressLine1')}? 'fieldError'" />
                </div>
                <div class="form50 margin20">
                    <label for="address2"><span th:utext="#{cart.address2}">Address 2</span></label>
                    <span class="error_spacer" th:if="${#fields.hasErrors('address.addressLine1')}">error</span>
                    <input type="text" th:field="*{address.addressLine2}" class="field50 clearable" />
                </div>

                <div class="clearfix"></div>

                <div class="form30">
                    <label for="city"><span th:utext="#{cart.cityState}">City / State</span></label>
                    <span class="error" th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}"></span>
                    <br th:if="${#fields.hasErrors('address.city')} and ${#fields.hasErrors('address.stateProvinceRegion')}" />
                    <span class="error" th:if="${#fields.hasErrors('address.stateProvinceRegion')}" th:errors="*{address.stateProvinceRegion}"></span>
                    <input type="text" th:field="*{address.city}" class="field25 clearable"
                           th:classappend="${#fields.hasErrors('address.city')}? 'fieldError'" />
                    <select id="state" th:field="*{address.stateProvinceRegion}" size="1" style="width: 48px;"
                        class="clearable" th:classappend="${#fields.hasErrors('address.stateProvinceRegion')}? 'fieldError'">
                        <option value="">--</option>
                        <option th:each="state : ${states}"
                                th:value="${state.abbreviation}"
                                th:utext="${state.abbreviation}"></option>
                    </select>
                </div>

                <div class="form25 margin20">
                    <label for="postal_code"><span th:utext="#{cart.postalCode}">Postal Code</span></label>
                    <span class="error" th:if="${#fields.hasErrors('address.postalCode')}" th:errors="*{address.postalCode}"></span>
                    <input type="text" th:field="*{address.postalCode}" class="field25 clearable" th:classappend="${#fields.hasErrors('address.postalCode')}? 'fieldError'" />
                </div>

            </div>

            <div class="right_content">
                <h3><span th:utext="#{cart.shppingMethod}">Shipping Method</span></h3>
                <h3 id="loading_shipping" style="display: none;">
                    <img src="/img/loading.gif" /> <span th:utext="#{cart.shppingMethod}">Shipping Method</span>
                </h3>

                <span class="error" th:if="${#fields.hasErrors('fulfillmentOptionId')}" th:errors="*{fulfillmentOptionId}"></span>
                <table cellspacing="0" cellpadding="5" id="shippingoptions" class="checkoutTable">
                    <tr th:each="fulfillmentOption : ${fulfillmentOptions}">
                        <td><input class="shipping_method_option" type="radio" th:field="*{fulfillmentOptionId}" th:value="${fulfillmentOption.id}" /></td>
                        <td>
                            <span th:utext="${fulfillmentOption.name}"/>&nbsp;(<span th:utext="${fulfillmentOption.longDescription}"/>)
                            <span th:if="${estimateResponse != null}" blc:price="${estimateResponse.fulfillmentOptionPrices.get(fulfillmentOption)}"/>
                        </td>
                    </tr>
                </table>
                <br />
                <div th:if="${validShipping}">
                    <h3><span th:utext="#{cart.shppingTotal}">Shipping Total</span></h3>
                    <div id="shipping_total" blc:price="${cart.totalShipping}" />
                </div>

                <div>
                    <input id="select_shipping" type="submit" class="small dark" th:value="#{cart.selectShipping}" />
                </div>

                <p>
                    <a id="multiship" th:href="@{/checkout/multiship}"><span th:utext="#{cart.shipToMultipleAddresses}">Ship to Multiple Addresses</span></a>
                </p>
            </div>
        </div>

    </blc:form>

</div>